{{ partial "header" . }}

<main>

    <h2>{{ .Title }}</h2>

    {{ range (.Paginator 1000).Pages }} {{ partial "list-item" . }} {{ end }}

</main>

{{ partial "paginator" . }}
{{ partial "footer" . }}
