---
layout: post
title: And How!
date: 2013-08-07 04:03:07.000000000 -05:00
type: post
published: true
status: publish
categories: ["Personal"]
tags:
- And How!
- College
- Friends
- Humor
meta:
  _publicize_pending: '1'
  _edit_last: '53059138'
  tagazine-media: a:7:{s:7:"primary";s:0:"";s:6:"images";a:0:{}s:6:"videos";a:0:{}s:11:"image_count";i:0;s:6:"author";s:8:"53059138";s:7:"blog_id";s:8:"55506608";s:9:"mod_stamp";s:19:"2013-08-07
    04:12:25";}
  geo_public: '0'

---
<p><i>I just remember sitting in my attic with an old record player, listening to And How! for hours on end and thinking to myself, "Why can't I sound like that?" -Thom Yorke<br />
</i></p>
<p>Ever since the fall of 2009 the world famous band, And How!, has certianly changed the landscape of music. It all started when Jared Marchant, who is now the band's manager, discovered the band on a Friday night in Ormsby Hall at Lawrence University during drunken jam session. He recalled how he felt when he first experienced And How!, "When I walked in to the room I heard the music and immediately felt like my ears were hit simultaneously by a bizarre - but perfect - combination of roses and dynamite."</p>
<p>The band steadily grew more popular thanks to Mr. Marchant. The band released their hit "Krunk Punk" which immediately dominated the radio waves on classic rock stations and influenced many young artists, such as Jimi Hendrix:</p>
<p><i>"The Tower" is cool. I can't help but think that the Grateful Dead's Dark Star was somehow influenced by it. All the elements are there. But I suppose that would be somewhat anachronistic, wouldn't it? -Jimi Hendrix</i></p>
<p>Since then the band has released seventy-two albums and shows no signs of slowing down.</p>
<p>The band's latest album, <span style="text-decoration:underline;">Let It Be</span>, includes many new ground breaking jams. "Krunktry" is an example of the going back to their southern country roots and their love of america, peace, freedom, bald eagles, openness, and love. It also has a very strong themes of xenophobia and a strong repulsion of communism - especially Chinese communism. Near the end of the star spangled epic, Tony Darling, the band's drummer and Creed-style vocalist, begs the listener to consider what it means to truly be an American by asking, "do you think you get get a DUI on a stallion?" Some call this lyricism brilliant. I disagree. I call it art.</p>
<p>Matt Gunby (Guitar) is confident that their new album will do well as he said in an interview with Rolling Stone, "I think the new album will do well." Tony Darling, on the other hand, stated, "I don't get why we added 'Morning Wouldn't' to the album. It ruins the the whole aesthetic of the album and, lets face it, anyone who buys the album simply will not be maximizing their utility. Without 'Morning Wouldn't,' I would say that it's our best album since <span style="text-decoration:underline;">Ninth Symphony? What the Fugue in G minor is Wrong With You?</span>. Seriously, &amp;%$# that song." Karl Mayer (Saxophone) was unable to make as he is currently missing, though he was last seen in the Himalayas barefoot.</p>
<p>Andrew Kraemer (bass) declined to comment.</p>
<p>&nbsp;</p>
<p style="text-align:center;">—————————–//—————————–</p>
