---
layout: post
title: Freud, Short Stories, and Giving Up on a Book
date: 2013-10-25 01:54:58.000000000 -05:00
type: post
published: true
status: publish
categories: ["Personal"]
tags:
- Books
- freud
- great books
- list
meta:
  _publicize_pending: '1'

---
<p>I hope you are doing well because I feel great today.</p>
<p> Here is the link to this post's playlist. It's entitled: "<a href="http://open.spotify.com/user/kidman007/playlist/79813DUszgCe5CqWJGB97P"><span style="text-decoration:underline;">Walking Around the House Naked at Two in the Afternoon</span></a>." It's a pretty random collection of songs. I am particularly excited about <span style="text-decoration:underline;">Pretty Green</span>, which is a new White Denim track. White Denim puts me in a mood that very few other bands can achieve. A feeling - no! A need to put my fist in the air and smile. (Editors note: Andrew Kraemer has been seen on multiple occasions raising his fist in the air with a determined, but triumphant, look on his face in his cubicle.)</p>
<p> -------//-------</p>
<p> I picked up fifty-three volumes of the <span style="text-decoration:underline;">Britannica's Great Books of the Western World</span> the other day from a rummage sale for thirty dollars. If you have an extra copy of volume fourty-one, <span style="text-decoration:underline;">The Decline and Fall of the Roman Empire (Part II)</span>, let me know. It's the only volume out of the entire set I'm missing. I have mixed feelings about my purchase. I'm excited because there are a lot of really great books in there. On the other hand my reading list is already so long and I just put another fifty-three books on it. And when am I going to have the drive to go through some of these books? When am I going to sit down and tell myself, "Andrew you're going to read hundreds of pages of Freud today."? At the very least, I have fifty-three fancy paperweights.</p>
<p> -------//-------</p>
<p> I wrote a short story. It's not very good but that's ok. You can't expect your first time trying something to end up great.</p>
<p> It's about a guy who is being stalked by these two mysterious figures. The scene stops abruptly and continues. Many details change, such as location, charachters, and object at the reset of the scene. At the end you learn that every disjointed scene is just a guy trying to finish his dream but is interrupted by his alarm clock. I thought it was clever.</p>
<p> -------//-------</p>
<p> In my opinion, it is always sad to give up on a book. I mention this because I gave up on a book yesterday. The book was Lucky Jim by Kingsley Amis. According to the back of the book, it is, "Regarded by many as the finest, and funniest, comic novel of the twentieth century." I respectfully disagree and call bullshit on that comment.</p>
<p> I really wanted to enjoy the story. But after 100 pages I found myself not caring.</p>
<p> When is it ok to give up on a book? Let's ask ourselves a few questions before we abandon the book.</p>
<p> 1. Did you lose your bookmark?</p>
<p> This is not a valid excusue.</p>
<p> 2. Are the characters too stupid for you?</p>
<p> Sometimes the characters in a novel make repeated poor decisisons. Sometimes the characters are so foolish that it breaks your willing suspense of disbelief. If you have been dealing with stupid charachters, close that book.</p>
<p> 3. Is the book not at all what you expected in a bad way?</p>
<p> Being surprised by a good book is a great feeling. For instance, I read "The Passage" with absolutely no background other than a friend telling me, "Dude, I read this 1000 page book in like a day. It was awesome." With no background other than that it was probably a horror story ("Steven King called 'The Passage' a dazzling world" was on the cover).</p>
<p> This is not always the case. It took me a long time to read "Lord of the Rings" because I expected an action novel rather than an adventure.</p>
<p> Give books that do this to you a chance - I'd say give it 100-150 pages. If the book still isn't clicking. Throw it out the window and dig it out of your garden a year from now.</p>
<p> 4. Are you incredibly bored?</p>
<p> There's a chance you are reading a book that is too easy for you. More likely, however, the book is above your reading level, which is a shame because the book is right up your alley but you just can't appreciate it because of your brain.</p>
<p> 5. Are you in a substantial amount of emotional or physical pain?</p>
<p> I understand that a book can play with your emotions and this can cause some emotional pain. But this pain is the emotional and psychological roller-coaster we want from a book. I'm talking about bad pain. I'm talking about that pain you get when you are reading Stephen Hawking's "A Brief History of Time" expecting a fun and easy science read. That, my friends, is the stinging pain of surprise and disaointment. If you are experiencing this, I encourage you to put down the book and walk to the nearest library and go to the children's section and read "Nate the Great" until you feel better.</p>
<p> --------//--------</p>
<p> Email me at Kidman007@gmail.com if you want to be put on the email list.</p>
<p> I have a lot of things I want to write but not enough time! I start an online finance course on Monday. Despite this, I will continue to post as much as I can.</p>
<p> I think I'm going to sit down and read hundreds of pages of Freud now.</p>
