---
layout: post
title: The Tequila and Müstaché Memoirs, or My Saturday at Pitchfork Music Festival
date: 2013-07-25 04:36:36.000000000 -05:00
type: post
published: true
status: publish
categories: ["Personal"]
tags:
- beer
- Music
- Pitchfork
meta:
  _edit_last: '53059138'
  _publicize_pending: '1'
  geo_public: '0'

---
<div>If you know me well, you would know that I have been to a fair amount of music festivals. Every festival has its own unique flavor. Some are free and some you have to pay for. Each festival has its own unique crowd. For instance, Warped Tour is filled with people who look like they ride skate boards; I don’t know why, they just do.</div>
<div></div>
<div>This year I went to Pitchfork music festival. This was my second time going so I knew what to expect. The acts are not as big as those at Lollapalooza; nor are there as many people. One you arrive, however, you are immediately exposed to a sea of people sporting trendy sunglasses, tribal tattoos, jean shorts (commonly referred to as “jorts”), mustaches, and craft beer. It is at Pitchfork where this crowd of ironic creative types go to worship their independent music gods.</div>
<div></div>
<div>So naturally I came running to the festival this year.</div>
<div></div>
<div>My cohorts and I arrived at the festival after a nasty traffic ridden drive from Wilmette. Proudly wearing festival battle gear, which includes: my white hat with a bold green “W”, my chuck tailors, high socks, (slightly) short shorts, Ray Bans, and my ‘And How!’ shirt (And How! is so underground), we passed through the entrance of the park. Getting in was a suspiciously stress-free experience considering that I had a freezer bag full of tequila stuffed down my pants. We waded through a sea of culturally relevant shops that had records of bands that I have probably heard of and fairtrade-organic-handmade-vegan leather items. We then purchased our first round of craft beer, cider, and <a href="http://www.cookingchanneltv.com/recipes/chuck-hughes/tequila-lemonade.html">lemonade for the tequila</a> – of course – and made our way to the Green Stage. Here we waited for our first band of the day, the Savages.</div>
<div></div>
<div>Savages was one of the few bands that I was familiar with that was playing that day and certainly the one I was most excited to see. The band consists of four bad-ass women. They released their first album, Silence Yourself, early this year and it is reminiscent of the post-punk bands of the late 70’s and 80’s, such as Joy Division, Gang of Four, and Wedding Present. Though the band is young, they performed with the confidence and control of a band that has been touring for years. I rocked out for the entire set. You could hear the bass crisply dancing along with the rock solid drums. The lead singer was engaging and mysterious and the guitar dissonantly  meandered. It was awesome. While listening to the songs I was quite familiar with I was embarrassingly exposed to what I will call a "Punk Rock Epiphany." This happens when you are trying to identify a punk rock song and can't. This is because every punk rock song sounds pretty much the same. Though the performance was fantastic, I couldn't help but wish that the show was inside. I wanted a dark crowded space to mosh in and feel gloomy. In addition the pale women of the Savages looked like they were getting sun-burnt during their brief stint in the sun. Despite the slight wishes for the show to be indoors, the experience was great on all accounts and it was a fantastic way to begin the festival. If you want to get a good taste of the band I recommend checking out my favorite song by them, "<a href="http://www.youtube.com/watch?v=kim-REn8ecg">She Will</a>."</div>
<div></div>
<div>As the next was playing at the blue stage not far in the distance, the Swans - which is simply not a band I enjoy, we refueled on the finest dining Union Park had to offer. We happily gorged ourselves on Chubbie’s hotdogs, cheese fries, and a bag of bacon. We also took this time to continue sampling more craft beers and creative lemonade-tequila concoctions. There was much rejoicing.</div>
<div></div>
<div>After the successful binge, we went back to the Green Stage and met up with many of my family members who arrived late and watched the next band, The Breeders, performed their most famous album, ‘Last Splash,’ in its entirety. Kim Deal, the lead singer of the band, is the former bassist of the Pixies. Despite being twenty years older than when she was when she recorded the album, you could tell that she still knew how to rock out and have good time. It was interesting to see the band make all of the different sounds that appear on the album. For instance, to achieve the odd dissonant voice in the song "<a href="http://www.youtube.com/watch?v=fxvkI9MTQw4">Cannonball</a>" Kim shouted into a megaphone, which is pretty punk rock. After playing the album, the band played a few more of their hits thanked the crowed and left the stage.</div>
<div></div>
<div>Our jolly band surged forward after the Breeders ended in order to get a good position for the Headliner that night, Bele and Sebastian. Before the Scottish band took the stage, Paige and I were given the task of getting more select craft beers from the beverage tent. We also desperately needed more lemonade for the tequila. Getting the beverages was easy; bringing six cups back with only two people was quite a bit more difficult. Perhaps it was being in the sun all day, perhaps it was because she has tiny hands, or maybe it was just the ethanol, regardless of what was going on, Paige failed to maintain control of the three cups of beer. She successfully spilled half a glass of Goose Island Green Line all over herself as she attempted to regain control and sit on the ground. As a result, I became in charge of transporting 50 ounces of beverages through a crowd.</div>
<div>Surprisingly, the experience of wading through the crowd of people was far more positive than I anticipated. This is because fans of Belle and Sebastian are like the music of Belle and Sebastian, that is, very nice. I parted the sea of people witha few smiles and thank you’s - kinda like Moses (but not really). In fact, when my Tequila concoction began to fall out of my arm, people quickly rushed to my aid and let me through. If I was to describe my feelings at this point in three words, it would be this: I love hippies.</div>
<div></div>
<div>Belle and Sebastian put on a fantastic show from start to finish. The band began with a fun instrumental track which I later learned was entitled “<a href="http://www.youtube.com/watch?v=Xa9_BQdfo50">Judy is a Dickslap</a>.” My mother and father bobbed their heads to this song regardless. Some things just should not be explained. The positive energy of the evening would be impossible to extinguish. About half way through the show there was a pleasant drizzle that complimented the pleasantness of this Scottish band. Later, near the end of the show, the band invited about twenty people from the crowd on stage. One woman, a former audience member (now dancer), was dancing with only a bra on. Rather than looking with interest or excitement, the male lead singer simply asked the woman, "Where is you shirt?" and continued singing as if he had not just seen a mostly naked person. I wonder what was going through her mind at that point. I bet it was something along the lines of, "Scottish people have funny accents."</div>
<div></div>
<div>After closing to a singalong of "<a href="http://www.youtube.com/watch?v=zeVJlLxGsmo">Boy With the Arab Strap</a>," we left the festival wet, giddy, and thoroughly exhausted. We also had no more tequila. The festival was a great experience and I already can't wait for next year.</div>
<div></div>
