---
layout: post
title: How to Write Your First Blog Post
date: 2013-07-19 21:10:35.000000000 -05:00
type: post
published: true
status: publish
categories: ["Personal"]
tags:
- Babies
- first
meta:
  _wp_page_template: default
  _publicize_pending: '1'
---
<p><strong>Step One: Introduce Yourself (feel free to skip)</strong></p>
<p>Hello everyone, I'm Andrew Kraemer. I live in Wilmette Illinois. I recently graduated from Lawrence University where I learned (I think) to think. I recently began working for a pharmacy benefit management company called Catamaran as a financial analyst. Don't let my employment fool you - I'm a pretty goofy person. I like to think that I am pretty good at seeing the humor of everyday life. I am remarkably tall. I am redheaded and freckled. I'm also currently dating a wonderful girl named Paige. I have a lot of interests; probably too many for my own good. I love reading. I try to read everything from daily news to Ancient Greek history (translated of course). I'd write more about books now but I  have an agenda to get through. I like coffee a lot. I'd write more about this as well; I feel like I could just do a post on coffee. I have recently begun to meditate. I love music of many different types. I've recently been getting into board games, which I believe is representative of my dark and extensive nerdy side. Something I've come to learn about myself recently as well is that I hate generalizations. If you are planning on say something, say it right!</p>
<p>And yeah... I think that covers everything about me.</p>
<p><strong>Step Two: Explain Why You are Writing a Blog</strong></p>
<p><strong></strong>Earlier today I was showering and I had a flood of ideas. Here is a small sample of thoughts: "I wish I had a nemesis.", "Do I prefer chaos or order?", "How did I not foresee the twist in that book?" The thoughts exploded relentlessly in my mind. I struggled to think of one thing at a time or just think about normal person things. As the cascade of ideas continued to pop in my head I decided that it might be a good idea for me to write these thoughts down.</p>
<p>I also want a way to share my life with people in my own way. I have many friends that I may not see for a long time now that I have graduated, so I figured it might not be bad idea to share these written thoughts.</p>
<p>Thanks to my liberal arts degree I was able to solve both of these problems with one solution: write a blog.</p>
<p><strong>Step 3: Write a Disclaimer</strong></p>
<p><strong></strong>I fully intend on stealing a lot of ideas and information. I'll try to link things but I won't try too hard. Remember, this is a blog we are talking about! It's supposed to be recreational!</p>
<p>I'll try to write once a week. I'll try to put some real thought and some real effort into each post. The writing may be sporadic, however. Like camels.</p>
<p>If I feel passionate about something I may be vulgar about it. I'm sorry if it offends you, goddamnit.</p>
<p><strong>Final Step: Write Something Funny or Interesting</strong></p>
<p>I'll leave you (my many fans) with this funny thought:</p>
<p>Babies are incredibly stupid. No amount of love or cuteness can make this statement untrue. Let's dive a little deeper and I'll tell you why I think this.</p>
<p>First off, babies are completely helpless creatures. If I was to walk into a forest and left the baby out of earshot it would certainly be eaten or die of starvation within a very short amount of time. They wouldn't be able to get to safety because are physically incapable of walking because they are too weak. In fact, many babies can't even support their own (mostly) useless heads.</p>
<p>Babies can barely think. They are so stupid that if they see a ball and then if the ball is covered by a sheet, in the babies mind, <em>the ball ceases to exist</em>. That is stupidity that I can not relate to.</p>
<p>Though babies are quite dumb, I must hand it to them, they do eventually become some pretty smart and capable people.</p>
<p>---------------------------------------</p>
<p>Hope you enjoyed my first post! I'll post more soon!</p>
<p> </p>
