---
layout: post
title: 'The End of Summer, or: Why Milk is at the Back of the Grocery Store'
date: 2013-09-12 04:06:30.000000000 -05:00
type: post
published: true
status: publish
categories: ["Personal"]
tags:
- Economics
- fall
- mics
- Milk
- Music
- Playlist
- PSL
meta:
  _edit_last: '53059138'
  _publicize_pending: '1'
  tagazine-media: a:7:{s:7:"primary";s:0:"";s:6:"images";a:0:{}s:6:"videos";a:0:{}s:11:"image_count";i:0;s:6:"author";s:8:"53059138";s:7:"blog_id";s:8:"55506608";s:9:"mod_stamp";s:19:"2013-09-12
    04:16:46";}

---
<p>I hear that it has been hot outside but I wouldn't know; I spend the majority of the time the sun is out in an air conditioned cubicle. Despite this alleged heat wave, the transition from summer to PSLS (Pumpkin Spice Latte season)  - also known as fall - has begun. In celebration of the change of seasons, I have created a spottily playlist that is has all of the characteristics of a Pumpkin Spice Latte: sweet, surprising, and most likely disappointing.</p>
<p><a href="http://open.spotify.com/user/kidman007/playlist/1P1kPIyWyo4JIYLZ5KxWuG">End of Summer Playlist</a></p>
<p>The playlist starts out with one of my new favorite songs by King Khan entitled "Born to Die." The song is almost as crazy as the story of the band. For example, after a mental break down, the lead singer of the band, Ahmad Khan, <a href="http://www.spin.com/articles/king-khan-shrines-idle-no-more-merge-records-album-stream/"> joined an all female group of Korean Nuns</a> along with other odd life decisions in order to cope with his depression before releasing this awesome LP. Later in the playlist is a band called <a href="http://www.radiolab.org/blogs/radiolab-blog/2013/aug/29/dawn-midi/">Dawn of Midi</a>. I encourage you to listen to their newest album, Dysnomia, in full. The entire album is improvised but somehow the band - a piano, bass, and drums - sounds sounds like a computer. It's very cool. The final song is a collaboration between Moby and Wayne Coyne. It sounds a little "Hey Jude"ish, but that's ok because I love "Hey Jude."</p>
<p>The playlist is eclectic; but hey, I think it's better than a PSL.</p>
<p>--------------//--------------</p>
<p>Why is Milk kept in the back of the grocery store? Think of an answer now and we will explore some answers in a bit.</p>
<p>As I have mentioned in previous posts, I listen to a few economics podcast in order to keep my economic intuition sharp. Econ Talk, my favorite economics podcast, is moderated professor Russ Roberts of Stanford University. The talks are always interesting, but this week's podcast was so engaging I felt that I needed to share it, despite its mundane title, <a href="http://www.econtalk.org/archives/2013/09/munger_on_milk.html">Munger on Milk</a>. In this podcast, Roberts posts the question, "Why is Milk in the back of the Grocery Store?"</p>
<p>The explanation that came to my mind was milk is in the back of the store in order to force consumers to walk through the whole store and, as a result, increases amount of goods the customer sees and buys. It makes sense right? A grocery store is a firm. Firms are focused on maximizing profits. Because the margins on food are so slim a store tries to get the customer to buy as many things as possible.</p>
<p>Unfortunately for me and my "sharp economic intuition," Roberts destroys my theory. He counters with questions such as, why do store owners clean the floors? Why do they hire cheerful people at the checkout line? The store could save money by cutting these services out and thus make more money. However, thanks to competition, grocery stores have to compete with other grocery stores and have to provide good service. If the store tried to screw over the customer as much as possible, the customer would go to a different store. Competition forces the stores to place things that they are as convenient as possible. Stores that fail to adapt would be abandoned for better organized stores.</p>
<p>Besides, milk is in the back of the store because it is cheaper to stock it in the back for a number of reasons that I won't explain here.</p>
<p>Roberts goes further to encourage people to avoid immediately assuming a firm is out to get them. He concedes that yes, sometimes you are getting screwed over; but, he argues,<i> if you are open to the possibility that firms are trying to serve you in their interest, you will be able to see explanations that you would have otherwise missed.</i></p>
<p>I think that this is AWESOME!</p>
<p>This goes with my whole philosophy of everything. If you take a second to assume the negative case of something, you are more likely to be able to discover new answers. The answers may not be correct, but at least you have a more thorough understanding of the problem.</p>
<p>------------//-------------</p>
<p>Hopefully that was in English. Let me know if there are any glaring errors that bother you and I will fix them.</p>
<p>Let me know if you want me to be on an email list by emailing me at kidman007@gmail.com</p>
<p>Thanks,</p>
<p>Andrew</p>
<p>P.S. My learning of Chinese has been going well.</p>
