---
layout: post
title: My most random hobby
date: 2013-09-25 03:06:52.000000000 -05:00
type: post
published: true
status: publish
categories: ["Personal"]
tags:
- chinese
meta:
  _publicize_pending: '1'
  _edit_last: '53059138'

---
<p>Listen <a href="http://open.spotify.com/user/kidman007/playlist/4p07Se7IJWR7W681322Eqn">here</a> for the playlist made for this week. </p>
<p>I have a lot of interests and a lot of hobbies. In fact, I think that there are not enough hours in the day to give all of my hobbies the proper attention they deserve. The main reason I don't have enough time is because of this whole "working" thing. I usually walk into the mighty Catamaran building at 8:30 a.m. and leave anywhere from 5:30-7:30 p.m. depending on the day (this week had two 7:30 leaving days - oofta). The other main obstacle is my commute, which is usually an hour long each way.</p>
<p>Though I don't have a terrible commute, I made a decision early on that I did not want to spend two hours of my day listening to music and slamming my forehead against the steering-wheel due to a traffic induced rage. As a result, I now actually really enjoy my commute. In the morning I listen to music for a while - a whole album if I'm in the mood - or listen to a podcast. I used to listen to books on tape on my way home, but Anna Karinina eventually ruined that for me. Now I have found a new activity for my ride home: I'm learning Mandarin Chinese. </p>
<p>What? How? Chinese you say?</p>
<p>Being the young professional that I am, I have become interested in self improvement and time management tips and techniques. To pursue that interest I picked up the book The Power of Habit by Charles Duhigg. The book itself was not that good. It was a typical blockbuster nonfiction book. It has a few really good ideas and A LOT of fluff. I learned from the book that you can do anything if you make it a habit. </p>
<p>After I finished the book, I blinked, opened my notebook and wrote "I am going to learn Chinese."</p>
<p>The decision surprised me. First off, I have always hated languages - even English. When I was younger, I used to say, "I don't use grammar because I write n' speak American," and I meant it.<br /> Despite my original 'hesitation' towards learning languages, I went out and stole Pimslur Chinese on the internet and started my Ni Haos and Wo Hoi Shwa Yin One Mas (I have no idea how to write anything with Chinese characters or proper phonetics, so bear with me). </p>
<p>So far learning has been difficult but a lot of fun. I try to do a lesson once a day even if I had a long day and just want to listen to an NPR report on rabies, babies, or scabies. It's weird. When I try a lesson for the first time I get annihilated and it sucks. However, after I try the lesson again a second time, the language begins to flow a little. I hope sometime soon I can try to find a way to apply what I have learned.</p>
<p>---------//-----------</p>
<p>I decided recently that I am going to learn python, a programming language. Unfortunately, I will need to figure out where this will fall in my list of priorities. Is it above Chinese? Above work? Below working out? </p>
<p>Oh, the choices I must make in my difficult life. Sigh.</p>
<p>------------//-----------</p>
<p>No editing was done for this post.</p>
<p>Leave me a message at kidman007@gmail.com if you want to be on the email list!</p>
