---
layout: post
title: Donuts and Innovation
date: 2013-08-10 15:23:20.000000000 -05:00
type: post
published: true
status: publish
categories: ["Personal"]
tags:
- Innovation
- moral
- Schumpeter
- work
meta:
  _publicize_pending: '1'
  _edit_last: '53059138'
  geo_public: '0'

---
<p>I love innovation. I love change. Innovation and change lead to improvement in all sorts of things. I like that. To me, <a href="http://images.search.yahoo.com/images/view;_ylt=A0PDoKnTWQZSJRoACKyjzbkF;_ylu=X3oDMTF1b2M2ZzQ4BHNlYwNmcC1leHAEc2xrA2V4cARvaWQDOWMwZTYzZjRjZmQ1MzhkZmVkYTdhMzFhMWE4YzI1Y2EEZ3BvcwM4?back=http%3A%2F%2Fsearch.yahoo.com%2Fsearch%3Fei%3DUTF-8%26p%3Dschumpeter%26type%3D571829%26fr%3Dspigot-adr-ffmac&amp;w=305&amp;h=400&amp;imgurl=hightechhistory.files.wordpress.com%2F2011%2F01%2Fschumpeter1.jpg&amp;rurl=http%3A%2F%2Fhightechhistory.com%2Ftag%2Fj-p-morgan%2F&amp;size=19.3KB&amp;name=Joseph+Alois+%3Cb%3ESchumpeter%3C%2Fb%3E&amp;p=schumpeter&amp;oid=9c0e63f4cfd538dfeda7a31a1a8c25ca&amp;fr2=&amp;fr=&amp;tt=Joseph+Alois+%3Cb%3ESchumpeter%3C%2Fb%3E&amp;b=0&amp;ni=160&amp;no=8&amp;ts=&amp;tab=organic&amp;sigr=11aqbraij&amp;sigb=12kk739jj&amp;sigi=11rk3hlds&amp;.crumb=E9o3.hs/eoh&amp;">Joseph Schumpeter</a> - an innovation focused economist - is more than a hero to me; he is a friend. Innovation is constant and competitive and beautiful and I love that. But today at work I experienced what it is like to fail and be disappointed when you try something new.</p>
<p>The day began like most other days. I cruised to work listening to podcasts and trying - futilely - to learn Chinese. Because I had a long and productive week in the office and that it is the last day in our current building, I figured that I would a pretty easy day.</p>
<p>I could not have been more wrong.</p>
<p>The email came in at 9:16 from Christina. It was entitled 'Donuts.' I perked up and rose from my seat. The prospect of a sugary treat made my mouth water. I followed my nose to the tray of donuts. There were donuts of all types. I reached my hand out towards my favorite kind of donut, strawberry frosting. Then, I stopped myself and thought, "What would Schumpeter do? Why don't I try innovating my donut eating habits?"</p>
<p>My eyes drifted over the trans-fat-filled sugary delights and I saw a beautiful donut. It had white frosting, some mysterious crunchy flair on the top, and it was filled with a cream that I could not see.  I heard it calling to me so quickly grabbed it and ran back to my desk with a cup of coffee. The first bite was delicious. I love the way that cream filled donuts feel when you get a bite without cream. Then I took another bite and despair flowed through my entire body.</p>
<p>It was filled with lemon cream.</p>
<p>It's not that I don't like lemons. It was just not what I was looking for; especially when compared to the serene beauty of the strawberry frosting donut.</p>
<p>The moral of the story, I guess, is that even though trying new things can lead to beautiful innovations and grand new experiences it is also risky and may lead to failure or dissapointment. It is important to note, however, that these disappointments and failures are good for us. We learn more about what doesn't work and and the nice things about we know.</p>
<p>Keep failing (you just might learn something).</p>
<p style="text-align:center;">—————————–//—————————–</p>
