---
layout: post
title: Sleepiness, statistics, buildings and books - for breakfast!
date: 2013-08-16 02:28:34.000000000 -05:00
type: post
published: true
status: publish
categories: ["Personal"]
tags:
- Books
- building
- Music
meta:
  _edit_last: '53059138'
  _publicize_pending: '1'
  tagazine-media: a:7:{s:7:"primary";s:0:"";s:6:"images";a:0:{}s:6:"videos";a:0:{}s:11:"image_count";i:0;s:6:"author";s:8:"53059138";s:7:"blog_id";s:8:"55506608";s:9:"mod_stamp";s:19:"2013-08-16
    02:32:16";}
  geo_public: '0'
---
<p>I have a lot of random things I would like to explore and/or remark about, so please bare with me on this post.</p>
<p>First off, <a href="http://open.spotify.com/user/kidman007/playlist/6VnPRSlK3uvAoDqnbw65wt">here</a> is a Spotify playlist of cool <b>tunes</b> I have been rocking out to. Props to my cousin Tommy for recommending a few of these songs. Tommy is a DJ and you should check out the songs he has made <b><a href="https://soundcloud.com/hot-mischief">here</a> on his sound cl<b>oud</b></b>.</p>
<p>Second, I annihilated my tongue on a cup of coffee on Monday and today - Thursday - it still hurts. I probably deserve it.</p>
<p>--</p>
<p>Monday I was in an especially great mood. In fact, I felt like <span style="text-decoration:underline;">this</span> the entire day (1).</p>
<p>Part of the reason I feel this way is because my company moved to a really cool new building in Schaumburg. It has modern design things everywhere. I have my own cube, which I have already pinned on my wall a sheet of excel hotkeys and a picture of my own face. We have a cafeteria that reminds me of Bon Appetite - the good food service my school used - except even better! I also get to sit next to my team which is awesome. Though we work hard for most of the day, we do have our bursts of goofiness. These goofy moments include, but are not limited to, shirtless Bon Jovi themed birthday cards (don't ask and no, it was not my idea), launching notes to each other with rubber bands above the cube walls, and a mini game of bags. Needless to say, the transition from my crappy old building to this modern Google-wannabe building is awesome.<br />
--</p>
<p>Have you ever wondered what it would be like to have statistics on your entire life? I think about it all of the time. Thoughts such as, "how many cups of coffee have a drank in my life?", "what days do I drink the most cups of coffee on average?", or "How many hours have I actually been using my brain today?" I feel like it would be so cool to know everything about myself, because - lets be honest - we typically don't know ourselves as well as we think we do.</p>
<p>I'll probably write about this more at some point, but for now just let that thought bounce around your head</p>
<p>--</p>
<p>I'm currently reading the fantasy novel <span style="text-decoration:underline;">Sabriel</span>. I’m enjoying the story though I’m not sure I would recommend it. The story is interesting enough but it is definitely a book for a younger audience. The prose is often awkward and I have a hard time connecting with the characters.</p>
<p>After I finish this book - which I am hoping to do tonight – I will begin the hard-boiled crime thriller <span style="text-decoration:underline;">Double Indemnity</span>. It looks like a really fun, short, and classic read. The book was recommended to me by Prof. Podair. I have a feeling he has good taste in crime thrillers.</p>
<p>I'm so sleepy. I hope the post was in English.</p>
<p>---------------//---------------</p>
<p>(1) That is, I felt really good like the song - not like the video. If I felt like the video I feel like I would be implying that I was totally warped on acid, which I certainly was not.</p>
