---
layout: post
title: Some Words on Writing
date: 2013-10-08 01:37:59.000000000 -05:00
type: post
published: true
status: publish
categories: ["Personal"]
tags:
- Writing
meta:
  _publicize_pending: '1'

---
<p>Hi, how are you? I hope you are having a good [insert time of day]. I'm doing pretty well [insert your name]. Thanks for asking. I encourage you to read "I'm the Knife You're the Knife" from this week's issue of the New Yorker. It's the best short story I have read in some time. </p>
<p>---------//---------</p>
<p>This [insert time period until next post]'s playlist. <a href="http://open.spotify.com/user/kidman007/playlist/30UUHS0a8f6kMgpCGvLNAH">Here</a> is the link. I hope you like it. I like it because it has good music.</p>
<p>---------//--------</p>
<div>It has only been in the last couple of years that I started to enjoy writing.</div>
<div> </div>
<div>This enjoyment has manifested itself in a few ways. One of the more obvious ways I write for enjoyment is in a small black jouranal I almost always keep in my pocket. I like doing this for two reasons. First, I like to think that I'm an active person, so it makes sense for me to always have a journal with me, rather than keep it untouched in some well lit room with a comfy chair, calligraphy pens, books on all of the walls, classical music lightly - but not too loudly - playing in the background, and a large wooden desk that smells of rich mahogany. The second reason I keep the small notebook is because it is a real pain in the ass to carry around and if I didn't write in it I would feel like an idiot.</div>
<div> </div>
<div>Oh, and I also write a blog.</div>
<div> </div>
<div>It took me a long time to like writing because for so long I thought I was bad at writing. I have a clear memory of being in kindergarten and having to write in a journal. I remember all of the other kids writing quickly and then going and playing with toys, but I was stuck sitting for what felt like hours with my teacher, Mrs. Turner. I trying to write, "I like to eat pizza." It was hell. In high school I thought my writing was fine, not exceptional, but fine. It was in College when I began to feel self conscience about my writing. Many Lawrentians claim that they really begin to learn how to write during Lawrence's trademark "Freshman Studies" courses. I, on the other hand, watched Bill and Ted's Excellent Journey in my class and learned nothing (the professor no longer teaches at Lawrence). It was when I started to actually care about learning when I began to think I was a bad writer.</div>
<div> </div>
<div>I would spend hours and hours writing a single paragraph. I would be dissatisfied with the structure or a small grammatical element, try to correct it, then be dissatisfied with the correction, try to correct it again, realize the flow did not work, and then get frustrated and rewrite everything all over again. </div>
<div> </div>
<div>I eventually came to terms with myself and decided that though I can make grammer mistakes and I don't always say things exactly how I want to say them, I can write well enough to enjoy it. Writing the blog has been really good for me because I can play with words and get better, or I can just type as fast as I can to share some of my goofy thoughts.</div>
<p> ---------//---------</p>
<p>Email me at Kidman007@gmail.com if you want to be put on the email list!</p>
