---
layout: post
title: 'Why a young professional near Chicago lives at home: a cost benefit analysis'
date: 2013-09-05 03:02:31.000000000 -05:00
type: post
published: true
status: publish
categories: ["Personal"]
tags:
- cost benefit analysis
- Economics
- home
- Minnesota
- Stevens Point
- Syria
meta:
  _publicize_pending: '1'
  tagazine-media: a:7:{s:7:"primary";s:0:"";s:6:"images";a:0:{}s:6:"videos";a:0:{}s:11:"image_count";i:0;s:6:"author";s:8:"53059138";s:7:"blog_id";s:8:"55506608";s:9:"mod_stamp";s:19:"2013-09-05
    03:09:31";}
  _oembed_78e9fca457ef3356b334069168ddd568: "{{unknown}}"
  _oembed_f4451040c67eb92a263d9f0baa0301a7: "{{unknown}}"

---
<p>I'd like to start by apologizing for the unforgivable tardiness of this post. I've gotten busier with work - which I realize is not an excuse - and I have had a blog post that I have wanted to write but haven't put the effort into fully explore the idea.</p>
<p>Despite my apparent busyness, I have been having a great time as of late. I have had back to back great weekends. One weekend was in Eagle River, Wisconsin, which included a brief but emotionally necessary stop in Steven's Point. Many of my good friends met and we had a wonderfully manly weekend on a lake. This most recent weekend I was in St. Paul, Minnesota; where I got to see a plethora of wonderful cousins and my wonderful girlfriend, Paige. I went to the state fair and ate my weight and the some of various fried skewered "foods" and went home with a smile on my face despite the painful sensation of my gut being dragged on the concrete and occasionally getting stepped on by the "ooooh-I-know-right?"ing locals.</p>
<p>-------------//-------------</p>
<p>I hope we don't bomb Syria. I'm a bit of a pacifist. </p>
<p>-------------//-------------</p>
<p>Listen to Dawn of Midi. It's some of the best music I've heard all summer. It's jazz musicians discovered electronic music and play acoustic. Great stuff.</p>
<p>-------------//-------------</p>
<p>The Nobel prize winner Ronald Coase died at the age of 102. I liked him.</p>
<p>-------------//-------------</p>
<p>Recently I've been thinking about the fact that I live at home rather than the exciting and mysterious city of Chicago. I know that I will be moving away from home eventually, but the question is when will this be happening. In order to better understand my situation, I decided to do a quick cost benefit analysis - ya know, for kicks. In this analysis I will value different parts of the analysis with "Kraemer Republic Action Points," which will be referred to as KRAP. Though the points will not be tied to dollars in any way shape or form, I can tell you I give about 300 KRAPs a month to pay my car loan.</p>
<p>Cons of living at home:<br />
You have to tell people you are living at home:<br />
Now this might not sound like a big deal but, I must say, it is weird telling people that you are living at home even though you have a job and could technically afford your own apartment. People will reenforce your decision and act be excited when you tell them you are living at home. However, these same people's faces will light up when they hear that you are living down town. They lean in closer and ask what neighborhood your are in, what are your cross streets and what festival you went to that weekend. Saying you live at home is boring. I'd say I give about 150 KRAPs a month about that.<br />
You aren't in the city:<br />
Young, goodlooking people like myself live in the city. I like young people and I like fun things. For instance, this weekend there is a Guinness and Oyster festival. I'd say I give about 300 KRAPs a month to live in the city.<br />
You have a big close (and frustrating family:<br />
My family is great but sometimes I just want a little time to myself. One time I went into my room to get away for a little bit after a long day at work and not one, not two, but three of my family members burst into my room unannounced. This can be draining. I'd say I give about 237 KRAPs about that.</p>
<p>I know that I've been talking a lot of KRAP about living at home, but there are definitely some positives as well.</p>
<p>Pros:</p>
<p>No rent/ other cost savings<br />
I save a ton of KRAP by living at home. Rent in downtown Chicago would like be dumping all of my KRAP down the toilet. I'm probably saving 600 KRAPs per month on rent.</p>
<p>Family:<br />
Though I love to complain about my family, I must say - I really like being with them. It's fun to watch tv shows with my brother Daniel. I like driving my sister Diane to school in the morning. Life is good at home. I give a lot of crap about my family about 340 KRAPs!</p>
<p>Now that I'm a financial analysis I know math. With my math skill I figure that I'm saving 253 KRAPs per month living at home. Ain't that nifty. If, however, I develop an acute distaste for my family or I give less KRAPs about money I'll move out. Despite this, I get the feeling that an external something will push me towards the big city. I don't know what that something is, but until then ill be chilling with my brother.</p>
<p>-------------//-------------</p>
<p>If you want me to email you when I put up a post send me an email at kidman007@gmail.com</p>
<p>Lub,</p>
<p>Andrew</p>
