---
layout: post
title: The Graduate, Leprosy, Courtney Barnet, and Chocolate-Dipped Science
date: 2013-11-11 03:28:16.000000000 -06:00
type: post
published: true
status: publish
categories: ["Personal"]
tags: []
meta:
  _publicize_pending: '1'

---
<p>Hello Friends,</p>
<p><a href="http://open.spotify.com/user/kidman007/playlist/7xWHg940OAvn0w78xe0CAo">Here</a> is a link to this post's playlist.  I found the first song on the playlist, "Number 9," by Moon Hooch completely on accident. The band consists of two saxophone players and a drummer. Despite the bare-bones set up, Moon Hooch will get your booty moving.</p>
<p>Two of the songs in the playlist have the title "Heart" because why not. </p>
<p>Courtney Barnet's song "Avant gardener" is fantastic. Though I typically have trouble hearing and - as a result - caring about lyrics, I have found myself completely drawn in by Barnet's wordplay. I love how she delivers her lyrics as if they were a stream of consciousness but if you listen you can hear all of her incredibly and clever lines. Here is a taste:</p>
<p>"The paramedic thinks i’m clever cos i play guitar<br />
I think she’s clever cos she stops people dying<br />
Anaphylactic and super hypocondriactic<br />
Should’ve stayed in bed today<br />
I much prefer the mundane."</p>
<p>She reminds me a bit of the late Lou Reed of the Velvet Underground. Like Lou, Courtney delivers her lyrics dryly over a pretty simple chord structure. However, there is definitely some magic behind what she is doing. At least, that's what I think.</p>
<p>------//------</p>
<p>This weekend I saw The Graduate for the first time. After the first fifteen minutes, I knew that this was going to be one of the best movies I've ever seen. I think that part of the reason I had this reaction is because I alway have mixed feelings before watching a movie that has been deemed a classic. I always want to enjoy classics because of the impact they have or had on art, but sometimes classics don't age very well. The Graduate pulled me in from the first scene. The camera keeps the viewer uncomfortably close to Dustin Hoffman's face as he awkwardly meets with friends of his family. I could go on, but I just recommend getting a big bowl of popcorn and watching the movie yourself if you haven't seen it.</p>
<p>-------//-------</p>
<p>I try to be as open minded as possible and accept people for who they are, and, for the most part, I like to think I do pretty well. I try to reserve judgement until I have met someone, I and look at gossip with sceptisism. There are, however, some people that I don't think I could be open to in more than just a friendly way. </p>
<p>I guess what I'm trying to say is that I don't think I could date a leper.</p>
<p>It's not that I think that lepers are evil or that they aren't good people; rather, I just feel that there are a few too many barriers that would make the relationship work. First of all, leprosy is contagious and, well, I don't want leprosy. Second, even if it wasn't contagious, there are lots of things I couldn't do with my leper girlfriend. Say we were staying in (because we would always stay in because she would be a leper) and we agreed about something cool and exciting and highfived. What if I hit her hand clear off? Not only would it would be incredibly dangerous, but it would also be awkward for both of us. That is the sort of situation I just don't want to be in. And finally, I don't think I could date a leper because I am very happily dating and in love with Paige Koebele. She is wonderful, talented, beautiful, and (fingers crossed!) does not have leprosy. She makes me very happy. Our three year anniversary was on November sixth and I couldn't be happier. </p>
<p>So take that, single lepers. </p>
<p>-------//-------</p>
<p>If you have any questions, comments, or concerns, please email me at kidman007@gmail.com.</p>
<p>Also, you should let me know if you want to be on the distribution list of my blog. I can hook you up, yo.</p>
<p>I think that in future posts I am going to try to take more care with my writing. Lately, I have been typing as quickly as possible with minimal planning and editing in order to get a post out sooner rather than later. Part of the reason I'm doing this is to improve my writing.</p>
<p>AK</p>
