---
layout: post
title: iBreakup
date: 2013-08-01 04:57:04.000000000 -05:00
type: post
published: true
status: publish
categories: ["Personal"]
tags:
- iPhone
- relationships
- tech
meta:
  _publicize_pending: '1'
  tagazine-media: a:7:{s:7:"primary";s:0:"";s:6:"images";a:0:{}s:6:"videos";a:0:{}s:11:"image_count";i:0;s:6:"author";s:8:"53059138";s:7:"blog_id";s:8:"55506608";s:9:"mod_stamp";s:19:"2013-08-01
    04:57:04";}
---
<p>I have had an iPhone 4 since January 2011. This phone has been very good to me. We have worked together in order to communicate with other people. I press its screen and it makes letters and messages that appear that I send to both my friends and my enemies. I like that.</p>
<p>We, that is my iPhone and I, have been on many adventures together. We have gone on many long walks and road trips together. I usually - but not always - decide where we go. Everything was perfect with our relationship until the accident happened.</p>
<p>When I say that it is not the phone's fault but mine that our relationship has gone south, I really do mean it. There was that party when I was focusing on my friends and I left the iPhone there and, well, it got stepped on repeatedly. The screen is cracked the the battery life is short, but these are just physical things. The real problem is much deeper. I'm just ready to move on. Since then it was obvious that I would get a new phone. The only question is how long we would be able to put up with each others flaws.</p>
<p>Unfortunately, however, due to being on my family plan and the 'aggressive' manner my family uses phones, use the only upgrade available would be another iPhone 4. An upgrade from an iPhone 4 to an iPhone 4 isn't really an upgrade. I realize that this is certainly a first world problem, so I will continue with this (damaged but functional) awesome futuristic mini-computer-phone and keep my mouth shut.</p>
<p>                                    -----------------------------//-----------------------------</p>
