---
layout: post
title: 'Andrew Kraemer: Caring Zebra'
date: 2013-12-16 01:48:42.000000000 -06:00
type: post
published: true
status: publish
categories: ["Personal"]
tags:
- Books
- commute
- driving
meta:
  _publicize_pending: '1'

---
<p>Hello Friends,</p>
<p>It has been a while since my last post and quite a few things have happened. In an effort to not bore my beloved reader to death, I have provided a list of events and non-events that have happened to me recently:</p>
<p>-I made a playlist for this week. It is called “<a href="http://open.spotify.com/user/kidman007/playlist/4fEl17cjufCms9XM4OHgCR">Go Forward!</a>” All of the songs are really good.</p>
<p>-I left my keys in my trunk’s keyhole all day while I was at work. I couldn’t find them until eight p.m.</p>
<p>-Paige came down for an entire week. It was awesome. We watched shows, ate delicious food, and sassed each other constantly.</p>
<p>-I made a ridiculous amount of Christmas cookies.</p>
<p>-------//-------</p>
<p>I really like this week’s playlist. The first song, “Divisionary (Do The Right Thing),” moved me when I first heard it. It is a straight forward sing along song. It is positive but with a sad tone. For some reason this song made me very nostalgic of playing with my band, And How!, because it sounds like a group of people who are messing around with their instruments and having a lot of fun.</p>
<p>The second song, LCD Soundsystem’s “All My Friends,” made me think and be thankfull for all of my friends. It is also just great music.</p>
<p>The other tunes are just songs that I thought were really good. I hope you like the playlist as much as I do.</p>
<p>-------//-------</p>
<p>There are a few people in my rotational program. We are all recent graduates from college and get along very well. One of them asked if I would be interested in starting a book club.</p>
<p>I was hesitant.</p>
<p>I love books. But I barely have time to read the books that I am interested in. For instance, I have been slogging through Pillars of the Earth for about two months now (I only have about one-hundred pages left but I have not been able to find the book. I don't know how keen I am on finding and finishing it, though). I have a pile of books that is constantly growing next to my bedside table that I don’t read. Among others, my pile includes a Russian history book, a book about how cool classical music is, various fiction books, and an intimidating corporate finance text book.</p>
<p>I know I’ll get to these books sooner rather than later but a book club would do one of two things: I would have to put the books in my pile on hold for a long time, or I would have to try to trick the other readers into reading the random and eclectic books on my shelf.</p>
<p>Instead, we are going to be doing an audiobook club. I’m very excited for this. It’s the best of both worlds. I’ll be able to read my own books and still be able to discuss books with other people like I did at school.</p>
<p>If you have any suggestions for good book club books, let me know. I’m thinking about recommending Hemmingway’s <i>The Sun Also Rises</i> and a sci-fi book called <i>Snowcrash</i>.</p>
<p>------//-------</p>
<p>The other night I was sitting in my car idling as I waited for the light to turn green. My mind was wondering. I was thinking about either a lot of things with no structure or nothing really at all. In other words, I was not paying much attention to anything at all. The light turned green. As my mind crept back into reality, I noticed a white Interceptor quickly crawl into the intersection and quickly accelerate into the darkness beyond. After driving for a minute I caught up to the cop car which had pulled over another car. </p>
<p>I thought to myself, “What an idiot. Why would he speed here? The cops always pull people over in this area. <i>He deserves what he gets</i>” I continued pondering and changed my mind, “Regardless, that could have easily been me. That guy’s going to have to pay a ticket and everything now.”</p>
<p>For whatever reason, I continued to ponder about why I reacted in this way about a mundane traffic violation. My imagination took a leap. I thought the cop was like a lion or a cheetah, which was hiding in the tall Saharan grass waiting to pounce on its unsuspecting prey. The victim was like zebra. It was separated from the heard and was taken down by the predator.</p>
<p>Of course, this logic meant I was also a zebra in the heard.</p>
<p>I wondered if actual zebras had thoughts like this. Were they indifferent to the herd? Did they continue on with their lives – living as if the herd was only a group who provided protection? I was surprised that like the zebra I had no affection for the people around me. In my mind my fellow commuters are merely a heard of powered metal boxes that happens to be going in the same direction. We follow the same rules not because we want to but because it is convenient and safe for us on our journey.</p>
<p>As a result of this mostly crazy logic I’ve decided to take extra care of being aware of the people around me. I don’t need to know who they are or what they do, but I want to make the effort to realize that the people around me are – in fact – people. Why?</p>
<p>Perhaps I just I want to be a caring zebra.</p>
<p> </p>
