---
layout: post
title: 'Buttons: What''s the Point?'
date: 2013-11-26 00:46:37.000000000 -06:00
type: post
published: true
status: publish
categories: ["Personal"]
tags: []
meta:
  _publicize_pending: '1'

---
<p>I'd like to start this post off by celebrating Paige again. Today is her birthday! If you see her celebrate the fact that he has been alive for twenty-three years. If you want, you can also celebrate the fact that she is a great person.<br /> -------//-------<br /> <a href="http://open.spotify.com/user/kidman007/playlist/0gwMS7h6XWoZN4pIVrTQJ9">Here is this week's playlist</a>. The theme is: music I like to listen to right now. We've got some soul, some rock, a little folk, and a weird sampling thing. <br /> -------//-------<br /> I've been reading the book "Pillars of the Earth" for what has seemed to be the last five years. I highly recommend reading Ken Follett's work, especially if you are on a beach or recovering from a Turkey coma. This book, however, I am more hesitant to recommend. I'm currently six-hundred pages in with four-hundred left to go. In my opinion, the characters are too one demential. The good guys are <i>so</i> good and the bad guys <i>such</i> bastards. That is, the bad guys are not actual bastards, rather, they are just really big jerks. Perhaps I'll change my mind after another eon of reading and four-hundred pages.<br /> Speaking of bastards, I'm reading a book called "Voltaire's Bastards." It critiques western societies' obsession with rationality. It is really interesting. Some parts I agree with and other parts I vehemently disagree with. I highly recommend this book if you are looking for an intellectual read, regardless of your opinions.<br /> -------//------- <br /> This past weekend I took the 'L' train down to Lincoln Park. I met with some good friends. We planned on making dinner, drinking delicious beer, going to a few hip bars, and thought going to a comedy club.<br /> I wore my new winter jacket with a scarf. My new jacket has buttons.</p>
<p> Wearing a jacket with buttons has always seemed to be a silly thought to me. I remember seeing my friends my freshman year of college wearing jackets with buttons and scarves and thinking, "Why are they doing that? That jacket doesn't look that warm and I bet the buttons fall off all of the time." Compared to the button, the zipper is clearly the more innovative, advanced, and, not to mention, secure fastening device. Why would anyone buy an inferior product for more money? I was utterly perplexed. All of this judgement of the buttoned jackets culminated to the decision that I would never buy a peacoat. It was a life of zippers for me. Efficiency over fashion! Truth over superficiality! Warmth over buttons.</p>
<p> But, four years later, here I was, standing in Lincoln Park wearing a jacket with buttons like a troglodyte.</p>
<p> I greeted my friend who, looking good as always, was also wearing a jacket with buttons. Standing next to us was a group of young 'Professional Looking' men and woman also wearing jackets which have buttons.</p>
<p> What's the big deal?</p>
<p> This is about when I had a — mostly undramatic — crisis of conscience. Had I changed? Had my values changed? Am I now more of a mindless consumer following the herd of fashion-interested idiots? It seemed that something terrible had happened to the boy-man named Andrew Kraemer who for years wore a truly unfashionable zippered jacket that he bought out of necessity for twelve Euro.</p>
<p> Or, I thought to myself, is there possibly value in dressing this way?</p>
<p> There are many ways in which people evaluate us. People can read or evaluate our work (or blogs). They can observe how we treat other people or how we participate in our communities. However, the easiest and quickest way to evaluate someone is to simply look at them. It's something we as humans can't help but do. We have evolved in such a way that we make judgements instantly and subconsciously about people based on the way they look. As we learn what certain people are like based upon their appearance, we have learned how to influence these immediate judgements with the way we dress.</p>
<p> Perhaps part of me wants to look like a young professional, rather than that gangly guy who wore the ugly coat, even if it betrays my love of innovation. Of course, people take the idea of fashion and its value to extremes, but I think an equal number of people are doing themselves a disservice by ignoring any benefits of dressing well.</p>
<p> So there you have it, a reason to have in efficient buttons on your jacket. Spend away my friends. But I could keep going and explore the question more. There is the question of waste. Is there wasted material that goes into the buttons? Is there wasted effort on aesthetics rather than need? Why not invest in a single jacket that can withstand anything and it doesn't matter if it gets dirty? On the other hand is it waste if it creates value for both the person wearing the jacket and the person who makes and distributes the jacket. What if you had not bought that jacket and it impacted a whole ecosystem of friends who also got similar jackets and created wealth and a higher standard of living for the buttoned jacket maker?</p>
<p> I guess what I'm saying is that I have a hard time buying things. But, goddamnit, I like this jacket buttons and all. </p>
