---
layout: post
title: Unfasten Your Seatbelt
date: 2014-12-16 22:11:20.000000000 -06:00
type: post
published: true
status: publish
categories: ["Personal"]
tags:
- Airplane
- Books
- Death
- Emergency
- Fainting
- Hamlet
- Life
meta:
  _wpas_skip_facebook: '1'
  _wpas_skip_google_plus: '1'
  _wpas_skip_twitter: '1'
  _wpas_skip_linkedin: '1'
  _wpas_skip_tumblr: '1'
  _wpas_skip_path: '1'
  _publicize_pending: '1'
  _rest_api_published: '1'
  _rest_api_client_id: "-1"

---
<p>Hello Everyone,</p>
<p>This post is a little different from other things I've done. I wanted to share a story with you today:</p>
<p>I was on a flight headed home after five days with my family. I was in my seat reading Hamlet because I like to pretend I'm sophisticated. I had just finished the scene where the ghost of Hamlet's father commands Hamlet to take revenge on his murderer and put my book down. I'm mentioning this now because later I'll say "I looked like a ghost." This is foreshadowing.</p>
<p>I put the book down for two reasons. (1) My Shakespeare tolerance is low, and (2) I was dangerously close to vomiting in my seat (unrelated to Shakespeare). Not wanting to disturb the man with the glasses next to me, I grabbed the "sick bag" from the front seat pocket and stood to go to the bathroom.</p>
<p>As soon as I got out of my seat, I broke into a cold sweat and started to get tunnel vision. I tried my best to keep it cool while I walked to the lavatory. "I think I'm fainting," I thought to myself. "I'd rather not faint in the aisle." I felt my legs slowly giving out, and I grabbed the seats for support.</p>
<p>My vision went completely black. I heard people asking if I was okay. I must have been guided to a seat, but I don't remember exactly what happened.</p>
<p>I vomited in my bag without being able to see. People were trying to be helpful, but they didn't know how to help. I felt people giving me napkins. I had so many napkins, no vision, and very little hand eye coordination. My brain was very hazy. I didn't really have a good sense of what was going around me.</p>
<p>"Are you okay?"<br />
"I'm okay"<br />
"Are you okay?"<br />
I'm fine, seriously. I'm just fainting. People faint. I wish I wasn't making people so nervous.<br />
Beep. "Any medical professionals please come to the cabin."<br />
Medical professionals? They have the wrong idea.<br />
"Are you okay?"<br />
"I'm okay"<br />
"You are not okay."<br />
What does that mean? I'm not okay? I'm nervous. I'm very sleepy.</p>
<p>I was laid down across a row of seats. Phrases such as, "He's in shock." "Raise his legs." and "Unbutton his shirt, I can't find his pulse," slowly registered in my head.</p>
<p>As a result of my legs being raised, my vision came back slowly, and I saw the black and white image of a woman's face above me. She looked like a Japanese ink painting. She asked me questions, and I was able to give answers.</p>
<p>I looked down as another woman was applying a defibrillator to my chest. I looked around and saw fifteen people leaning over their seats looking at me. This made me very uncomfortable.</p>
<p>Within a few minutes, I was talking and I could see. I answered a lot of questions to the two nurses who helped me -- both named Anne (thank you Annes) -- and the doctor with the gold chain around his neck (thank you doctor with the gold chain around your neck). After that, they filled me in on what happened.</p>
<p>I had a vasovagal episode, which is an incorrect response to a change in blood pressure. All of the blood in my body went to my core, like it does with hypothermia, which caused me to lose consciousness. This response was do to a lack of eating, dehydration, prolonged sitting, and the change in air pressure.</p>
<p>My face had been entirely blue for a few minutes. "You looked like a ghost," Ann, the OBGYN nurse, said. "So I slapped you repeatedly in the face." I had no idea.</p>
<p>The surrounding passengers were wide-eyed as I sat up. They were concerned and I tried my best to look unconcerned. I was concerned.</p>
<p>I didn't have a pulse. It's hard to not become overly philosophical about this sort of thing, but I'm okay with that because it's how I feel. I thought I would be more scared than I was. I think I actually took it quite well. I realized that death is something that happens. We don't need to be afraid of it -- we shouldn't -- but it is important to be aware of it. It makes me excited to do things and invest in the people who I love. I know it's sappy, but it's the way I feel.</p>
<p>We landed safely. I cracked a few jokes and walked off the plane. I drank five cans of orange juice, and ate Popeyes before going to my connecting flight.</p>
<p>I left Hamlet in the terminal.</p>
<p>-------//-------</p>
<p>Thanks for reading! If you would like to be added to the email list, please shoot me a message at andrew.h.kraemer@gmail.com. Send me a message even if you are on the email list -- Dan Thoresen does. We have great chats.</p>
