---
layout: post
title: Reality Check
date: 2014-05-03 01:21:16.000000000 -05:00
type: post
published: true
status: publish
categories: ["Personal"]
tags: []
meta:
  _publicize_pending: '1'

---
<p>Hello Friends,</p>
<p>I have not written anything in a while. This lack of published material is partly due to the fact that I have been busy with my new appartment. The main reason, however, is that I have been stuggling to write things that I find honest and clever. I've written some honest things, but they were boring. I've written some clever things, but they were absurd. Both things I wrote I don't think people would like reading. </p>
<p>The other day I was writing about the absurd eighties action movie, Running Man, starring Arnold Schwartzenegger. I was trying to explain -- in an honest and clever way -- that I admire Arnold's success. Not many people have the move from Mr. Universe to international movie star to the governor of the largest state in the most powerful country in the world. </p>
<p>I was writing this while standing in my apartment in the dark on my makeshift podium. In addition, Miles Davis' unsettling experimental jazz album, Bitches Brew, was blaring on playing on my record player. There I was, standing in the dark alone, thinking and writing about Arnold Schwartzenegger, with really bizzare music playing in the background, when I got a text from my friend. The message was in regards to a conference call I had forgotten that I had planned to disucuss the logistics of the camping camping trip my group of friends -- also known as the President's club -- were planning this summer. </p>
<p>When I got this text a few things happened in my mind at once. The first was complete and utter disorientation. My brain could not make the cognitive leap from Arnold Schwarzenegger and unsettling jazz music to a phone call with friends. The second thing that I thought of after the text was the absolute absurdity of the situration and what this must look like from an outside view. The final thought I had before calling my friend was, "why the hell am I writing about Arnold Schwartzenegger."</p>
<p>-------//-------</p>
<p>There is no playlist this week. Go into a dark room and listen to Bitches Brew. If you really need a playlist. Go <a href="http://open.spotify.com/user/kidman007/playlist/1cTGuemGHnGHT5Gb5HqGns">here</a>. It is a weird one.</p>
<p>-------//-------</p>
<p>Paige has gotten a job offer in Chicago. I'm very proud of her. I'm looking forward to not have to drive three hours to see her -- provided that the Chicago traffic doesn't throw me a curve ball.</p>
<p>-------//-------</p>
<p>Being sick is weird, but it's not all bad. Last week I had a bit of a cold, which turned into quite a bit of a cold. At first I was fine but I got to the point where I woke up and sounded like Tom Waits. Being the "responsible" "adult" that I am, I was intent on going to despite obvious illness. Jared easily talked me out of this. I'm glad he did because I was miserable, and it was awesome.</p>
<p>I like to think that I do a lot of things and keep myself busy, so I don't usually have the time to wallow in self pitty. It was nice to catch up on that. Even though my head hurt, my sinuses hurt, I was tired, and my nose was raw from blowing my nose so much, it was really nice to do nearly nothing all day. I only left the house once because I found out that we were out of toilet paper. I'm not going to beat around the bush here, it was a terrible realization.</p>
<p>I complained to Paige that I was feeling a little, "Tiredsaddepressed with a splash of 'you are sick and will feel better in the morning. Things are good, you goof.'" Paige helped me better explain this feeling: crabby.</p>
<p>Even after I was done with my sick day, my body took the rest of the week to recover and I was very tired. I feel good now. Being sick is a nice little reminder that of my fragility. It also makes feeling good feel better.</p>
<p>---------//---------</p>
<p>I have two new fitness goals. I'd like to be able to do handstand pushups and I would also like to be able to do pull-ups in my door frame. I tried to do both of these exercises today, both ended in injury.<br />
-------//-------</p>
<p>Thanks for reading my blog. Now that I have settled down my life a little bit and found a coffee shop I like, I think it will be easier for me to write my blog more regularly.</p>
<p>Email me at Kidman007@gmail.com if you want to be added to the mailing list. Please email me, even if you don't want to be added. I miss you and I'd like to catch up.</p>
<p>Love,</p>
<p>Andrew</p>
