---
layout: post
title: Slight Change
date: 2014-08-21 01:24:44.000000000 -05:00
type: post
published: true
status: publish
categories: ["Personal"]
tags: []
meta:
  _publicize_pending: '1'
  _rest_api_published: '1'
  _rest_api_client_id: "-1"
  _wpas_skip_facebook: '1'
  _wpas_skip_google_plus: '1'
  _wpas_skip_twitter: '1'
  _wpas_skip_linkedin: '1'
  _wpas_skip_tumblr: '1'
  _wpas_skip_path: '1'
---
<p>In an effort to come out with more regular posts, I've decided to make some of the posts shorter. This is one of the short posts. Over the last year-or-so of writing the blog, I've developed a bit of a standard format to the blog. It often looks something like this:</p>
<p> </p>
<p>Hello Friends,</p>
<p>A brief, often humorous, and occasionally odd introduction. This is usually an observation that doesn't warrant further investigation. It's usually just something I noticed. For example, I could write about <a href="http://i.imgur.com/Pey8ijf.png">this</a> Excel art I made while I was on a phone call.</p>
<p>...</p>
<p>A link to my playlist of the post that almost no one will listen to. I listen to it, which is why I say 'almost'. I'll mention a few tracks I really like and why I really like them.</p>
<p>...</p>
<p>A slightly longer "essay." Normally when I write these I just write about something I've been thinking about a lot recently and distill it into around three-hundred to five-hundred words.</p>
<p>...</p>
<p>Another brief and humorous -- often self-deprecating -- observation. Perhaps it's an awkward moment. Perhaps it's an admission.</p>
<p>...</p>
<p>Another "essay" of sorts. Usually, if I've gotten people to read this far, I'll write about something that I think is a bit more serious. Usually it still ends up being a little silly -- which I can't always help. I like to think of this part as a "writing in a journal" section.</p>
<p>...</p>
<p>A thank you to the readers and a comment -- without fail -- that states my frustration at the infrequency of my posts.</p>
<p> </p>
<p>And that's it. That's what I do. I like the format. I think it allows me to hit a bunch of different topics without needing to dive too deep into anything.</p>
<p> </p>
<p>I think like writing this way because I don't like writing in detail. I assume that the reader understands all of the thinking that goes into each post. Paige and Jared hear each "essay" eight or nine times before I actually write anything. I assume you can fill in the cracks like they can, which is silly. How could you know everything that goes on in my brain?</p>
<p> </p>
<p>In an attempt to make myself uncomfortable, I plan on having a few posts that are longer and more focused in addition to the more frequent short posts. I don't expect them to be as fun or as easy as the standard format but that's ok with me. You might learn something. I'll definitely learn something.</p>
<p> </p>
<p>-------//-------</p>
<p> </p>
<p>Thanks for reading. You are great. I am great. We are all great. If you want to talk about greatness, email me at <a href="mailto:kidman007@gmail.com">kidman007@gmail.com</a>. Thank you for taking the time.</p>
