---
layout: post
title: The Best Bad Idea I've Had in Years
date: 2014-06-27 02:32:48.000000000 -05:00
type: post
published: true
status: publish
categories: ["Personal"]
tags: []
meta:
  _publicize_pending: '1'

---
<p>Hello my friends,</p>
<p>Before we do anything, you should check out <a href="http://open.spotify.com/user/kidman007/playlist/56nGcKM7jhj0NwpVzp38Qt">this</a> playlist. I think there are a bunch of sweet tunes on it that you should check out (especially the last track).</p>
<p>-------//-------</p>
<p>I'm a very impressionable person. This quirk manifested itself when I was listening to the "Tim Ferriss Show," hosted by Tim Ferriss, writer of "The Four Hour Work Week." Each episode he interviews some interesting, creative, high-performing individual and has a great conversation. In the last episode, I listened to him talk to a biochemist who focuses on nutrition and healthy living. Very casually, the biochemist mentioned that her breakfast every morning is a smoothie that contains the following: lots of kale, a handful of spinach, two carrots, a handful of frozen berries, an apple (optional), a banana (optional), an avocado, protein powder, and almond milk. The story intrigued me, as well as the smoothie, but I forgot about the whole thing immediately afterwords.</p>
<p>To my surprise, when I woke up the next morning, I found a huge bag of kale -- a pound and a half to be precise -- in my refrigerator. In addition, I found a boatload of fresh produce and more than enough protein powder to kill a horse. I'm glad to report that the smoothie was delicious and made me feel good all day. </p>
<p>While I'm glad I actually went out and bought the materials for the smoothie, I've got no idea what to do with the remaining 1.4 pounds of kale in my fridge. </p>
<p>-------//-------</p>
<p>Paige just graduated from Lawrence and moved to Evanston. While this may be a run-of-the-mill idea for you -- or perhaps it's simply an unsurprising statement, it's a pretty big deal for me. After going through a year of a distance relationship, it's difficult to articulate how nice it is to be in the same place as Paige, so I won't try. I will say, however, that I'm very happy.</p>
<p>-------//-------</p>
<p>Though I've made some attempts to stop thinking about the immediate future -- over thinking my career path was causing me a bit of anxiety, I have been doing a bit of day dreaming of what my midlife crisis is going to be. I've though about it a lot the last few weeks and I came up with this:</p>
<p>1) Pack up all of my bags and move to California.<br />
2) Live on the outskirts of town.<br />
3) Invest all of my money into a start-up.<br />
4) Ride a wave of undeserved success.<br />
5) Watch both my company and relationships fall apart.<br />
6) Get evicted from my house.<br />
7) Have the dog walk out on me.<br />
8) Starvation.<br />
9) Alcoholism.<br />
10) Disease.<br />
11) Eventual -- and inevitable -- death.</p>
<p>I like this plan because -- unlike most dreams -- it is actually possible to achieve. Sure, hunger, disease, and abandonment -- not to mention death -- all seem a bit unsavory; I'll admit that upfront. On the other hand. however, I hear that weather in California is nice year-round.</p>
<p>-------//-------</p>
<p>I'm trying to incorporate more writing into my life. I think of myself as a person who thinks. I think of myself as a person who has a good sense of humor. I really like the idea of writing my experiences and sharing them with other people via this blog on a regular basis. Unfortunately, this blog gets updated very infrequently. As I see it, I have two major roadblocks that I have to overcome in order to make this blog what I want it to be. First, is that I am lazy. I'm not too busy to write; blaming business is a form of laziness. In response to this, I've been coming up with plans and routines to enable myself to write every day. Sitting down and writing is not the only area where my laziness gets in the way; I also stall on aggregating the bits of what I write up and actually publish them.  The second roadblock is that I'm still pretty self-conscience about my writing. Unfortunately, this does not translate into me editing more, it just means I publish less. </p>
<p>So, my friends, this is where you come in. If you have any feedback on how I write, what I write about, what you think is interesting, what you think is boring, what literary devices I use too much, what grammatical errors I make, I'd love to hear your feedback because I really am trying to learn. I'm trying to get better.</p>
<p>-------//-------</p>
<p>Anyway, I hope all is as good with you as it is with me. Send me a message at Kidman007@gmail.com. I'd love to hear from you.</p>
