---
layout: post
title: A Plethora of Brows
date: 2014-08-13 03:01:31.000000000 -05:00
type: post
published: true
status: publish
categories: ["Personal"]
tags: []
meta:
  _publicize_pending: '1'
  _rest_api_published: '1'
  _rest_api_client_id: "-1"
  _wpas_skip_facebook: '1'
  _wpas_skip_google_plus: '1'
  _wpas_skip_twitter: '1'
  _wpas_skip_linkedin: '1'
  _wpas_skip_tumblr: '1'
  _wpas_skip_path: '1'
---
<p>Hello Friends,</p>
<p>I received some constructive criticism from a few friends recently about the blog. Though It was not the criticism I expected, I welcomed it nonetheless. I was told that my blog can be too high brow because of some obscure references I make. I was surprised because I didn't think my blog had any brow at all. At the most, I assumed that my blog was primarily very low or lo- to-middle-brow -- also known as mustache. I appreciate the feedback, but I don't really know how to address this except for saying, "ok," and moving on.</p>
<p>Okay, let's move on.</p>
<p>-------//-------</p>
<p>I've made a playlist for this week. I decided to name it <a href="http://open.spotify.com/user/kidman007/playlist/4WAL87PUiBvinZ6npI3jgB">"Shirt Starched and Ready for Battle."</a> It has some music that I like on it. I've been doing a bit less music exploration recently. I became a bit supersaturated with music from Pitchfork Music Festival and have not quite gotten back into my next music discovery phase yet. I hope you like it.</p>
<p>-------//-------</p>
<p>I've decided to start a business. I'm optimistic, and I have the upmost confidence that I will fail. It's not that I don't think I can make something happen; I just know that there are a few things that are going to make starting a business difficult. As I see it, there are three major impediments to my startup. All of which are terrible, typical excuses that all aspiring entrepreneurs run into.</p>
<p>The first main problem is that I don't have a lot of time. I realize that saying I don't have a lot of time is a classic excuse but that's how I feel. It's tough to do a full work day, have a one-and-a-half hour commute, work out, write a blog -- however infrequently it actually gets published, talk to my roommate, feed myself, see my girlfriend, get the seven hours of sleep I never seem to get, and enjoy my many time consuming hobbies. Despite all of that, I'm ready -- today at least to make something that is mine.</p>
<p>The second roadblock to my startup success is the fact that I don't have a great idea; in fact, I don't have any ideas whatsoever. Whenever I ask people for "easy" company ideas, I always get the same answer: sell drugs. While I appreciate the input, I already work for a drug company. I don't think not being inspired will cause my business' failure. I know that if I think hard enough and often enough something -- no matter how mundane -- will come to me.</p>
<p>The final thing that is preventing me from starting is that I have no idea of how to start a business at all. I have all sorts of questions such as, do I pay taxes? When does it become an actual business? And so on. However, the reason I am starting a company that I know will fail is that I really want to <del>experience the embarrassing and debilitating pain of failure</del> learn what it is like to take ownership of an idea (and get paid for it too).</p>
<p>So, all of that being said, I'm excited and ready to do <em>something</em>.</p>
<p>There is a lot of opportunity out there. Technology lowers transaction costs while also making communication and automation easy. There are plenty of bad business ideas that succeed and plenty of good business ideas that don't. I want to start a business now because I want to. I don't need permission.</p>
<p>-------//-------</p>
<p>I've come to realize that I'm a victim of marketing.</p>
<p>I realized this after I got my cool travel coffee mug in the mail. I'm happy to have the mug. It has a cool, hip color scheme. It has the words "barista standard 12 oz cup" on the side; I don't know what this means, but it sounds cool. It's also made of post consumer plastic, which means -- and don't quote me on this -- it has something to do with the environment, and it's very 'in' right now.</p>
<p>While it may be 'hip', 'cool', and 'in', I spent $20 on a plastic coffee cup that doesn't keep my coffee warm.</p>
<p>My roommate also just told me that I can borrow his thermos. He has two he's never used before.</p>
<p>-------//-------</p>
<p>One of my strengths is my enthusiasm for saying yes. I've found that people respond to this with enthusiasm. It makes them smile, and it makes people like me. I'm vain; I like the feeling of being liked.</p>
<p>Recently, I've come to realize, however, that this enthusiasm for saying yes to everything can also be a weakness. Because people like to hear yes, they will come back and ask for something else, knowing that I will likely be agreeable and interested in participating.</p>
<p>I'm very blessed with all of the opportunities I have and the people I have connections with. But I've found in "the post college world" -- where one has less time for everything and an ever-increasing amount of responsibilities -- that I need to learn how to become comfortable with saying "no." I also get quite tired. I run myself to the bone. As a result, I'm working on being more thoughtful with my time. So, if you find that I decline one of your offers, I hope you understand where I'm coming from.</p>
<p>-------//-------</p>
<p>I made an impulse Craig's List purchase. For $100, I am now the proud owner of: a five person tent, a Coleman gas grill, two camping chairs, a cooking kit, a mess kit, and camping cooking tools. I picked everything up from Ron.</p>
<p>When I drove up to Ron's mobile home, I saw him standing next to his car with a big closed lipped grin that hid his missing teeth. Ron is sixty-seven years old. He was incredibly nice and very excited to sell me his gear. Ron pulled out one piece of equipment after another.</p>
<p>"This is the tent," he told me. "It's big. It's not tall enough for you, but it's big."</p>
<p>After the display, we talked a bit. He promised that though the gear was good even though it was old. He told me about how he driven his motorcycle across the United States with all of this gear with his honey. He's seen a lot of beautiful things.</p>
<p>It was sad driving away with Ron's things, but I'm very excited to make sure the camping continues.</p>
<p>-------//-------</p>
<p>Thank you, as always, for taking some time to read the blog. It really does mean a lot. If you have any questions, any business ideas, or just want to say "hey, what's up?", please send me an email at kidman007@gmail.com. I look forward to hear from you.</p>
