---
layout: post
title: Tom Cruise Is Mentioned Twice in This Blog Post
date: 2014-11-21 15:23:27.000000000 -06:00
type: post
published: true
status: publish
categories: ["Personal"]
tags:
- birdman
- systems
- tom cruise
- Writing
meta:
  _rest_api_client_id: "-1"
  _rest_api_published: '1'
  _publicize_pending: '1'
  _wpas_skip_facebook: '1'
  _wpas_skip_google_plus: '1'
  _wpas_skip_twitter: '1'
  _wpas_skip_linkedin: '1'
  _wpas_skip_tumblr: '1'
  _wpas_skip_path: '1'
---
<p>Hello Friends,</p>
<p>Sometimes I wish I wasn't so impressionable.</p>
<p>The other week I watched Jerry McGuire with Paige. There is one scene where Tom Cruise casually does handstand pushups against a wall. I thought to myself, "If Tom Cruise can do it, I can do it."</p>
<p>There is only one place in my apartment where I can do handstand pushups. The handstand location is a confined space between my refrigerator and my backdoor. Everywhere else I run the risk of either knocking Jared's art off the wall or creating foot prints in our living room.</p>
<p>I learned two things from doing handstand push-ups:</p>
<ol>
<li>I can do a few pushups before my arms give out. It's a good feeling.</li>
<li>The realization that my arms are about to give out while upside-down in a confined space is a bad feeling.</li>
<li>Falling in a confined space while upside-down is a worse feeling.</li>
</ol>
<p>My point is, just because Tom Cruise can do something, doesn't mean you should.</p>
<p>It also doesn’t mean you shouldn’t.</p>
<p>-------//-------</p>
<p>I had been struggling all day to write how interesting it is that some systems are more durable than others. I stole this concept from Nassim Taleb’s book “Anti-Fragile.” Some organizations and social constructs seem to go on forever; they are solid. Other systems fall by the wayside – quickly forgotten. I wanted to explore this concept of long lasting systems within the framework of my visit to my fraternity this weekend. I wanted this to be a persuasive essay, and I wanted it to be <em>good.</em> There was potential to make this a very interesting piece. I know this because Jared told me so.</p>
<p>I couldn't do it.</p>
<p>I would write a few sentences and cringe. "That sounds too faux poetic," I would grumble. I followed this up with, "Andrew, you are pretentious and you don't actually know what faux means." So, I did what most successful writers do: gave up.</p>
<p>Sometimes I wish writing came as naturally to me as talking does. I <span style="text-decoration:line-through;">can</span> talk endlessly about everything and anything. I used to be jealous of people in college who complained about having to edit a paper down to the page maximum. I never had that problem in my entire life.</p>
<p>I've changed my attitude. Though it’s not easy, writing makes me think. Writing makes me say what I think more carefully. People forget conversations. Ideas in conversations die with people who speak them. Ideas written down have the potential to live on.</p>
<p><span style="text-decoration:line-through;">I guess that's why some systems, such as the written word, have continued for so many thousands of years.</span></p>
<p>Perhaps not being comfortable with writing how interesting long lasting systems are is an indication that it would have been a boring essay. Who knows?</p>
<p>-------//-------</p>
<p>In my mind there are two different kinds of movies: Movies that my dad likes, movies that my Uncle Tommy likes. Anything else probably isn't worth watching.</p>
<p>Both my dad and his brother, Tommy, are big movie fans. My dad, I would say, is more of a traditionalist. His favorite movie is <em>Get Shorty </em>starring John Travolta. Other examples of "Dad movies" include:  anything that stars Tom Cruise, Classic Musicals, the Die Hard series, and so on.</p>
<p>Uncle Tommy is a bit more artsy. Though he also likes the classics, he leans towards less traditional movies. They include: Wes Anderson films, and that one Australian indie film that I couldn't understand a word of where everybody died.</p>
<p>You should see the movie “Birdman” as soon as possible. I wasn’t planning on seeing it, but Paige said we should go see it. It's an Uncle Tommy film starring Michael Keaton. It's about a washed up actor who is trying to revitalize his career by doing theater.</p>
<p>The movie is incredibly well done. The acting is killer -- it is a movie about acting after all. The filmography has a very stream of conscious feel to it by the way the camera bounces from character.</p>
<p>It's weird and smart and fun, which happen to be three of my favorite things.</p>
<p>-------//-------</p>
<p>I hope you enjoyed this blog! If you want to talk, reach out to me at <a href="mailto:Kidman007@gmail.com">Kidman007@gmail.com</a>. I like you. Life is short (<a href="http://fourhourworkweek.com/2009/04/24/on-the-shortness-of-life-an-introduction-to-seneca/">but actually not that short</a>). So let's catch up. We could talk about music or ideas or ideas in music.</p>
<p>If you have any constructive criticism, such as "why don't you ever have a point in the things you write" or “this post was too long and boring”, please let me know. I -- like you -- am working on getting better every day.</p>
