---
layout: post
title: And Now a Word from Our Sponsors
date: 2014-10-02 16:32:00.000000000 -05:00
type: post
published: true
status: publish
categories: ["Personal"]
tags: []
meta:
  _publicize_pending: '1'
  _rest_api_published: '1'
  _rest_api_client_id: "-1"
  _wpas_skip_facebook: '1'
  _wpas_skip_google_plus: '1'
  _wpas_skip_twitter: '1'
  _wpas_skip_linkedin: '1'
  _wpas_skip_tumblr: '1'
  _wpas_skip_path: '1'

---
<p>Recently I've been putting a lot of pressure on myself to write a really clever blog post. I'd like the post to be funny, interesting, and insightful. I would like that post to be about five-hundred words. I would like that post to be amazing.</p>
<p>Sometimes you just need to forget about your anxieties and hope for the best. Here's to hoping for the best.</p>
<p>-------//-------</p>
<p>I have been really enjoying the band Foxygen. Normally, when I find new music, I will listen to a band only a handful of times before moving on to something else. Foxygen is the exception to this rule. For the past two months I've been listening to Foxygen, specifically the album "21st Century Ambassadors of Peace and Love, seemingly nonstop. I like the band because they are not the best at anything. They are not the most technical band, nor are they the edgiest band. All of their music always sounds a little off for one reason or another. They do, however, have an incredible amount of charm and heart. I like charm.</p>
<p>One of their songs is on <a href="http://open.spotify.com/user/kidman007/playlist/0aPLNzwUZ731Ip8LjVigLu">this great playlist I made</a> (I think this is one of my best).</p>
<p>I played this album in the car one day when I was with Paige. We were driving with the windows down and were bobbing our heads. She smiled, looked at me and said, "Andrew, I really don't like this music."</p>
<p>Maybe I'm just crazy. I'll let you make your own opinion.</p>
<p>-------//-------</p>
<p>My ego has been getting bigger recently. I've noticed this because people have told me. Hearing this hurts my ego, because I've always thought of myself as a humble person, which -- I've realized -- is probably an egocentric comment in itself.</p>
<p>I'm also working on being more thoughtful. Sometimes I get a bit too focused on what is directly in front of me, rather than what is important to me. I'm working on changing my focus back to you, my friends.</p>
<p>I'm my own work in progress, I guess.</p>
<p>-------//-------</p>
<p>I wonder if cavemen were dyslexic.</p>
<p>I was lying awake wondering this last night -- as one does.</p>
<p>If they were, I wonder how they identified it. I'm guessing that the caveman-children were not at caveman school where they would write in their caveman spelling notebooks. I'm also guessing that the caveman kindergartener who had a more difficult time writing words like "moose" and "hunt" and "pizza" would not of had a teacher who identified a problem. It's also likely that the inability to spell correctly would not of resulted in a caveman-parent-teacher conference that would have caused the caveman-parents to be concerned, which would result in the eventual diagnosis of dyslexia.</p>
<p>My guess is that dyslexic cavemen were just cavemen. Situations highlight strengths and weaknesses; strengths and weakness are not absolute or universally applicable, even though it may feel like that sometimes. A caveman doesn't need to be able to read Shakespeare or tell which way left is. He only needs to kill the moose.</p>
<p>-------//-------</p>
<p>I hope you liked this post. I feel like it was a bit all over the place, but that's ok. If you want to catch up or have any feedback, please don't hesitate to email me at kidman007@gmail.com Thanks for reading, and I hope you have a great day.</p>
<p>I'll end this post with a quote by Abraham Lincoln, <i>"Sometimes you need to talk about your weaknesses and then talk about cavemen in order to unite your thoughts."</i></p>
