---
layout: post
title: Let's Take Risks
date: 2014-03-20 02:26:10.000000000 -05:00
type: post
published: true
status: publish
categories: ["Personal"]
tags:
- dogs
- Grandpa
- Mom
- optimism
- Risk
meta:
  _publicize_pending: '1'
  _rest_api_published: '1'
  _rest_api_client_id: "-1"

---
<p>Hello Friends,</p>
<p>I hope you are doing well. I'm doing excellent. I feel electric. I feel pretty alright. I hope you are feeling good as well. Here is a <a href="http://open.spotify.com/user/kidman007/playlist/6xIsLnxbAN0CCeBkHBen0Z">sweet</a> playlist. It's called "I'm the Meat, You're the Knife."</p>
<p>-------//-------</p>
<p>I was thinking the other day, what would a dog write a blog about in a blog post. What would be their focus? What would motivate them? I'm not a dentist, and I don't have much experience with dogs. Despite this I decided that it would be fun to write a blog post as if I was a dog, so bear with me:</p>
<p>Hello Friends,</p>
<p>l;jasdfhjk;  ;k;jasdflbhuasdbhjbhjasbu  +56255 ;ljfsaj;hasdilhhlalksdhkjhjksfgy. Woof.</p>
<p>Dogs don't have fingers. That was a terrible idea. I hope I don't post this.</p>
<p>-------//-------</p>
<p>Let's talk about something more interesting than dogs: my mother. My mom is going to Croatia for two weeks, which is a pretty long time. I don't really remember a time that my mom has been away from the family for that long. Goodbyes with parents are really special. They are awkward and a little sad. My mom said, "I'm going to miss you, honey," and we hugged. Up until this point, our goodbye was a classic family moment full of love. So, of course something would have to go wrong. After our embrace, my mom looked up at me and said, "I used your car. It smells really bad. You must have smelly socks in there." After that, she left to go to Croatia for two weeks without seeing another word.</p>
<p>Classic.</p>
<p>-------//-------</p>
<p> I've been thinking about optimism a lot the last few weeks. It is weird because it is a good thing and a bad thing. There is one side to the optimist debate, where I feel most people are, which focuses on problems and potential setbacks, says optimism can lead to not being prepared, not being realistic, or not realizing the gravity of the situation. Then there is the other side, which I think I'm on, that focuses on the possibilities or upside of a situation. I'll also point out that optimism leads to happiness and is healthier.</p>
<p> Both sides have helpful perspectives and a lot of the time I wish I could trade a little bit of the surprise I get from being ill prepared for a little bit more tension overall. Perhaps I'm being overly optimistic about this, but I think that I'm being realistic in looking on the bright side. Though I have gotten burned before, I feel that my attitude usually helps me more than hurts me. I'm making strives to take more precautions to avoid guilt (I don't usually feel anxious, but I will feel guilty if something goes wrong).</p>
<p> Maybe I'll abandon both optimism and not-optimism, which is a more positive way of stating the alternative - more negative - view: pessimism, and go with surrealism.</p>
<p> I think this whole conversation is a monkey. Don't you think so, Zeus?</p>
<p> -------//-------</p>
<p> I woke up in the middle of the night and felt the urge to write something down to put on the blog. I grabbed my notebook and jotted the thought down before i went to sleep. When I woke up I saw this written down. "If you want to be a world champion belly flopper, you have to like like climbing ladders." I guess it's nice to know that my sub-conscience would be a subpar motivational speaker</p>
<p> -------//-------</p>
<p>I had the odd experience of drinking some scotch in someone's apartment without their permission. In fact, I was in this person's apartment without permission. It's a strange situation for sure, but as my grandpa used to say, "Scotch that is stolen tastes better. This is a fact."</p>
<p>My grandpa said a lot of funny things. Another quote of his, which I live by, is,"If you put ketchup on a hotdog or mustard on a hamburger, you are a communist."</p>
<p>-------//-------</p>
<p>I read <a href="http://lifehacker.com/10-of-the-most-important-life-lessons-i-learned-from-my-1547298543">this</a> article today. It reinforced my desire to do crazy things and take risks. I want to come up with a really crazy idea and run with it. I want to be able to put myself in a position where I can just come up with crazy ideas all day and run with them. I recommend you read the article.</p>
<p>-------//-------</p>
<p>Hope you liked the post. I'm feeling a bit scatterbrained right now. If you would like to be added to the mailing list, shoot me an email at Kidman007@gmail.com</p>
<p>Do it.</p>
