---
layout: post
title: I Saved Latin
date: 2014-05-21 01:48:56.000000000 -05:00
type: post
published: true
status: publish
categories: ["Personal"]
tags: []
meta:
  _publicize_pending: '1'

---
<p>Hello Friends,</p>
<p>I came up with a great idea the other day. I'm happy about the idea because I've acutally talked a few of my co-workers into doing it. Here's the idea: I'm going to bike to work. At first glance, this doesnt sound too impressive, as it is fairly common for people to ride their bike to work. And even when I explain the caveats some of you will still be wondering why this is interesting. But wait! Work for me is twenty-six miles away, and, in order to get there, I'm going to have to navigate the wild streets of Chicago before arriving at the mighty Catamaran Tower. I'm pretty excited. </p>
<p>I recently got a new bike (well, actually it's quite used). When I first saw the bike in the used bike store, it didn't have a front wheel and the handle bars were lying next to it on the floor. When my new friend John pointed at is and said, "this one will fit you," he smiled. He then said, "I'm not done with this one yet, but I've been working on this bike like it was one of my own." From that point on, any logic that went into buying my bike evaporated. It's a great bike and I'm happy to have it.</p>
<p>-------//-------</p>
<p>I'd like to be in a life threatening situation sometime soon. I obviously don't want to die, and I definitely don't want to go through this experience alone. The reason I want to do this is simple; traumatic experiences bring people together in ways unlike any other. You could sit on the train with someone everyday for an entire year and I'd bet that you wouldn't feel as close to that person as you would if the train flew off the tracks and you helped each other survive the burning wreckage (especially if one - or both - of you lose a limb in the process). Another part of me wants to be able to introduce someone by saying, "This is my friend Alphonso. He saved my life in 2014." After that, Alhonzo and I would give a great high five with our left hands and I would say, "We both lost our right arm in a tragic incident at the zoo."</p>
<p>-------//-------</p>
<p>I really like the idea of moving around in a company. While there is sometime to be said about to having an expertise, something that you can do better than pretty much anyone, I like the idea of having a wide breadth of skills and experiences . The way I see it, it is a lot easier to pick up the basics and be proficient at a new skill than it is to gain an equivalent amount of increased expertise on a skill you are already an expert in. Also, I like the idea of cross fertilization of ideas. It's super neat when you see someone from one discipline find a way to improve another discipline because of their different perspective.</p>
<p>I was worrying for a while about my future and what I would do. Now I think I'll have just a few personal goals and try to get as much crazy and varied experiences as possible in both work and life in general.</p>
<p>-------//-------</p>
<p>There are two things I'm working on: taking risks and saying no. I've been inundated recently by articles about entrepreneurship, and my brain has had  an inexplicable desire to try keep on trying to achieve goals or projects with a medium to high chance of failure. That being said, I also have a desire to do good work, which requires extended focus and the ability to not bite off more than I can chew. It's weird to have both desires and only have 24 hours in a day. </p>
<p>-------//-------</p>
<p>I recommend that you pick up the collection of stories, "Letter from an Unknown Woman," by Stephan Zweig. I've only read the first story , which shares the same name as the collection, and I loved it. I jumped from confused to intrigued to sad in the span of sixty pages. </p>
<p>I discovered Zweig by way of Wes Andrewson.  Anderson's latest film,"Grand Budapest Hotel," was inspired by the works of Zweig. The movie was great and so is Zweig.</p>
<p>-------//-------</p>
<p>Well, I'm off. I feel like this post was more for me than for youbut that's ok. If you want to be added to the mailing list or just want to say hi, drop me an email at kidman007@gmail.com. I'd love to hear from you. </p>
<p>Edit:<br />
After getting some feedback from a few loyal readers, I realized how poorly edited this post is. Rather than getting frustrated about the poor grammar that I've tried so hard to improve on, I'm going to take this post as a polite suggestion to get some sleep.</p>
