---
layout: post
title: Introspection is So Post-Post-Post Modern
date: 2014-10-27 12:03:42.000000000 -05:00
type: post
published: true
status: publish
categories: ["Personal"]
tags: []
meta:
  _publicize_pending: '1'
---
<p>Hello Friends,</p>
<p>Some general updates:<br />
-I saw Foxygen live. It was amazing. I saw the show with my cousin, Shawn. We had an awesome time. It was like choosing to walk into a burning building.<br />
-I saw The Rural Alberta Advantage live. I saw it with some work friends and Paige. It was an awesome time, though the opening band made me feel uncomforable.<br />
-Here is this week's playlist. I called it "<a href="http://open.spotify.com/user/kidman007/playlist/1le3FTeKwLBRCeucJD0mtQ">Don't Spoil The End</a>," which is incredibly cheesy.</p>
<p>And now for some babble: </p>
<p>-------//-------</p>
<p>I'd like to remove the word "I" from my speech. I find that I am always talking about myself. I'm talking about myself right now.</p>
<p>I understand that my experience is really the only one I can truly relate to, but I still wish I didn't think and talk as if everything was about me. I often find myself interrupting other people's stories just to point out how I have a similar story and can relate to them. Even if I tried, it would be tough for me, however, to communicate if my vernacular did not include the word "I":</p>
<p> The gangly redheaded person who is writing this blog post would certainly struggle with communicating without a common one letter pronoun that rhymes with eye, aye, and goodbye. For one, telling personal stories would be completely out of the question. The redheaded person would either need to tell stories that happened to other people -- which wouldn't always make sense -- or, more likely, he would need to tell stories in the third person. His audience would hate this. Alternatively, the redhead could constantly need to speak as if he was giving a lecture, which would wrongly imply that the redhead has any legitimacy outside of his own experience:</p>
<p>It is always important to avoid speaking of oneself. Removing "I" from your language opens up the opportunity to truly listen and engauge. People constantly busy themselves with their inner monologue -- their inner worries. Thinking in this way closes off the beauty of wider world. Putting others in the spotlight is the best way to bring internal happiness. </p>
<p>I guess what I'm trying to say is that I'm working on my voice. It seems that every sentence's subject is the word "I" and it's been tough to try to work around that.  I don't want everything to be about me, but what else would I talk about on a blog entitled: "Andrew Kraemer, Now in Technicolor"? I guess I like using "I" because it makes saying "I don't know" easier. </p>
<p>I don't know. I don't know.   </p>
<p>-------//-------</p>
<p>I recently got a year of my life back. It was very refreshing.</p>
<p>Stupid thoughts constantly fly through my head, and I question if  I am doing the right thing in my career. I am doing enough work? Am I doing enough side projects outside of my job description. Do I like my work? Am I leaving enough time for myself? How much do I hate my commute? Am I keeping up with my hobbies? Am I writing my silly blog enough? Am I asking silly questions too much?</p>
<p>With these thoughts I often, and unnecessarily, feel that I am behind. I had a vision that I will be doing something incredible by the time I am twenty-five. </p>
<p>Recently, while foolishly asking foolish questions, I felt a particularly nagging feeling that I was behind on my timeline. "I'm twenty-four and I haven't even discovered what my incredible thing is," I thought to myself. I mentioned this  feeling to my friend, Micah. Micah is the same age as I am.</p>
<p>It turns out that I am actually twenty-three. </p>
<p>This was a relief. I have another year! Success doesn't have a timeline, and -- more importantly -- success is what you make of it. I've decided to stop worrying about inconsequential timelines. Instead, I'll focus on real problems, such as knowing my age and not leaving my lunch on the kitchen counter. If I have time, I'll worry about the word "I" too.</p>
<p>-------//-------</p>
<p>Thanks for reading. I realize this post had a bit more "mental wrestling" instead of whimsy, but sometimes you have to write what's on your mind. I miss you. Shoot me a message at kidman007@gmail.com and let's catch up.</p>
<p>Love,</p>
<p>Andrew</p>
