---
layout: post
title: Greatest Hits Vol. XXIII
date: 2014-01-08 03:54:10.000000000 -06:00
type: post
published: true
status: publish
categories: ["Personal"]
tags: []
meta:
  _publicize_pending: '1'

---
<p>Hello Friends,</p>
<p>I’d like to start this post by saying Happy New Year.</p>
<p>“Happy. New. Year.”</p>
<p>Now that we are done with that we can move onto more pressing topics, like politics, religion, fate, work, or happiness. Though we could talk about any of those vastly interesting and ever evolving debates, I’d like to talk about something else entirely: My Vacation. After that I’m probably going to make a drastic change of topic and talk about board games. If everything goes well – which it will (my blog my rules) - , <a href="http://open.spotify.com/user/kidman007/playlist/7tT32gBsoa7REUNsazgXYW" target="_blank">I’ll probably </a><i><a href="http://open.spotify.com/user/kidman007/playlist/7tT32gBsoa7REUNsazgXYW" target="_blank">Leave a Link with music of awesome tunes for you to enjoy</a> </i>somewhere along the way. When I say the way, I mean my blog post. I’ll probably talk about books. I’ll probably talk about movies. Let’s find out. My blog, my rules.</p>
<p>-------//-------</p>
<p>Before I left for vacation I took a strength finder assessment. It was a real assessment, not one of those random online tests that tells you which Hunger Games chapter best describes how you feel the morning after a night out. No, this test was legit.</p>
<p>I was pretty pleased with my results, as I think they were flattering and accurate. My top five strengths are: Positivity, Strategic, Ideation, Input, and Activator.  Perhaps this means that I am a positive, creative planner who makes sure to collect as much information before I gets the ball rolling. I can handle that.</p>
<p>On the flip-side, however, my “worst strength” was Achiever. So I guess this means that that I am a positive, creative planner who makes sure to collect as much information before I gets the ball rolling but is not that interested in working hard. Touché, Gallup strength finder, you got me.</p>
<p>-------//-------</p>
<p>My vacation consisted of two parts: before Christmas and after New Year’s. Both – I must say – were excellent. I got to see Paige at length, which was nice, and I scored several sweet Christmas gifts, such as a brew your own beer kit. Awesome.</p>
<p>The back half of my vacation was good as well. I went to Florida. I went to the beach. I sassed a fair amount. I ran on the beach once.</p>
<p>Getting back was an adventure. It involves my flight getting canceled, driving eight hours to Atlanta in order to catch a flight, and staying at the “#1 rated mid-range hotel chain in America,” The Drury Inn. After several mildly concerning events and my flight landing in Chicago, I was welcomed by negative eleven degree weather and a very talkative taxi driver from south Nigeria named Roger. He was very interesting and drove well. Thanks Roger.</p>
<p>-------//-------</p>
<p>I don’t actually want to talk about board games right now.</p>
<p>-------//-------</p>
<p>I read a few books over break. The first was <i>The </i>Fall by Albert Camus. It was very interesting. The entire book was written as a one sided dialogue with a French man. I <i>highly</i> recommend it.</p>
<p>I also read <i>Tuesdays with Morrie</i>. I enjoyed the book. It was a little too, “I’m a hardworking guy who has ignored balance and peace in my life, but my old teacher/ mentor has clearly shown me of a better way to look at life and now I feel that I am a better person now,” for me at times. Despite that, it was a refreshing and good read. I think my co-worker - who has also read the book – put it best. He promised himself that he would only read the book while he was “on the can.” “On the Can” means sitting on the toilet while pooping or sitting on the toilet while waiting to poop. He only read the book while pooping. He said that given the circumstances that he read it in, “it wasn’t that bad," but it was definitely an "‘on the can’ sort of book.”</p>
<p>My co-worker is interesting.</p>
<p>In other news, I have decided to try to master speed reading. I took a speed reading class when I was younger and learned the “three finger underline method.” I didn’t keep up my training and lost my ability. Your brain can absorb information with your eyes faster than you can hear it, which means if you read each word in your head you can easily increase your reading speed without losing comprehension. Hopefully I won't get stuck on long books anymore.</p>
<p>-------//--------</p>
<p><i>American Hustle</i> is the best movie I have seen in theaters since <i>All is Lost</i>. The acting is fantastic. The movie reeks of style. The writing is sharp. Need I say more?</p>
<p>I’m really excited to see <i>Her</i>. I wonder if I will like it more than <i>American Hustle.</i></p>
<p>-------//-------</p>
<p>Let me know what you think of the blog! If you want to be added to the distribution list or have any other questions, email me at: <a href="mailto:kidman007@gmail.com" target="_blank">kidman007@gmail.com</a>.</p>
