---
layout: post
title: And So On
date: 2014-02-04 01:50:14.000000000 -06:00
type: post
published: true
status: publish
categories: ["Personal"]
tags:
- James Joyce
meta:
  _edit_last: '53059138'
  _publicize_pending: '1'

---
<p>Hello Friends,</p>
<p>I hope all is well with you. I know things are quite groovy with me. (Speaking of groovy, here is a <a href="http://open.spotify.com/user/kidman007/playlist/7IClzoEYckViwa8P7LIOa9">groovy playlist</a>)</p>
<p>You probably have not noticed that it has been a while since my last post. I have noticed. I have one-hundred-and-one excuses why I haven't written in a while. You don't care about any of them, but that's ok. I've been prioritizing other things the last few weeks.</p>
<p>Get this:</p>
<p>I started reading <span style="text-decoration:underline;">Ulysses</span>. It is cool. It is hard. I think I like it, but I'm not sure. Sometimes I finish a chapter and I feel like, "Wow, that stream of consciences is just like how my brain thinks, except my brain uses smaller words, and uses less obscure allusions. In fact, I don't know if I think in allusions at all. Actually, now that I think about it, if I wasn't told by other people that there were allusions in this book, I wouldn't think there were allusions in this book. I wonder what I'm going to have for dinner. I'm going to have to cook for myself because mom and dad aren't home. Maybe I'll write my blog. Naw, I'm tired. How is James Joyce a real person? How did he give this book to someone and tell them 'Dude, don't worry. This book is awesome, people will read it forever,' and know it would get published? That would like me posting something on the internet about James Joyce and telling my mom, 'Don't worry, people will totally read this.'I like the book. It's a brain work out, but it's so different than, well, everything I've read. Screw it, I'm ordering pizza. What did I just read?"</p>
<p>It's just like that.</p>
<p>-------//-------</p>
<p>I went to Lawrence for the forty-ninth Great Midwest Trivia Contest. My team was "Cardboard Dave's Soggie Wet Dream." I slept seven hours over the weekend. I made bacon ice cream. I saw a communist rally. I made a number of chodé puns.</p>
<p>For those of you who don't speak French, chodé translates to chode.</p>
<p>-------//-------</p>
<p>Paige is taking intro to micro-economics. I'm very proud of her. She made an econ joke. It caught me off gaurd when she did this. I mean, come on! I'm the one who shamelessly tells "bad" econ jokes. Here it is: she said, "Our relationship is like a market: I demand and you supply."</p>
<p>If you don't get the joke, I recommend spending thousands of dollars and years of your life to go to college. If that doesn't sound like your thing or you already did that and still don't get the joke, <a href="http://lmgtfy.com/?q=Supply+and+demand&amp;l=1">go here</a>.</p>
<p>Don't google search chode.</p>
<p>--------//-------</p>
<p>I saw <span style="text-decoration:underline;">Her</span> last week. I really enjoyed it. There were several things I really liked about it. One thing I liked wasn't directly about what I got from the movie, rather, I like hearing all of the different reactions to the movie from other people. Most of the reactions are positive and focus on different things. To me, that's a sign of a good movie.</p>
<p>I also really liked how well the movie portrayed relationships. It showed the quiet parts of a relationship; the silly little conversations that couples have can be random or even awkward, but they are still part of the relationship.  I really recommend you see the movie.</p>
<p>-------//--------</p>
<p>Thanks for reading. I feel that the way I write is very dependent on what I read. I read a Hemmingway short story last night and I'm having a hard time writing a sentence over five words. Hopefully you enjoyed it.</p>
<p>Email me at <a href="kidman007@gmail.com">kidman007@gmail.com</a> if you want to be added to the email list.</p>
