---
layout: post
title: The Case of the
date: 2014-03-11 01:29:54.000000000 -05:00
type: post
published: true
status: publish
categories: ["Personal"]
tags: []
meta:
  _publicize_pending: '1'
  _edit_last: '53059138'

---
<p>People write for different reasons. Some people write in order to record their thoughts; others get paid write. I'm in a different category right now. I am writing as a literal escape. This is not teenager’s escape from reality by abusing drugs and alcohol type of escape. No, I am writing as an excuse to get out of something – probably work. I am writing in order to trick myself into thinking I am being productive.</p>
<p>And I'm ok with that.</p>
<p>-------//-------</p>
<p>There are exciting things happening right now. For instance, there is this really cool playlist I made on Spotify. It's called "<a href="http://open.spotify.com/user/kidman007/playlist/2alCBQWgoO1Dhb9I97iuV9">Missing Hat</a>." I hope you enjoy it. You should really listen to the song by Sun Kil Moon because it is an emotional roller coaster. You should also listen to the Turtle Giant song. It will make you stronger and better looking. The other songs are random, but I dig them, so you should check them out.</p>
<p>Though there are many things to choose from, I would say that the most exciting thing that is happening to me right now is that my curly-haired friend, Jared, and I are getting an apartment together in Chicago. I think we will name it something awesome. I’ll nominate "Dudelair." I should talk to Jared.</p>
<p>Moving is an exciting thing. It is not every day you take all of the things you have accumulated over the years as a consumer and move it somewhere else. On top of that you also sleep in a different place, which is cool. I tried to write about the apartment once with words (prose, long form, whatever). The main problem I found with the description was that it was really boring, so I have decided to make a list of "Dudelair" attributes and facts. Hopefully it will satisfy your probing questions:</p>
<p>-It is four blocks north of Wrigley Field<br />
-It is a brownstone building, which means it is old and has high ceilings.<br />
-It has new kitchen appliances<br />
-It has granite countertops<br />
-It has wood floors<br />
-It has a dish washer<br />
-It will have Jared and me<br />
-It has a very clutch in-unit washer and dryer.<br />
-It has friendship<br />
-It has nicely sized bedrooms with nicely sized closets<br />
-With written permission, girls will be allowed visit</p>
<p>The Dudelair will be great. There will be the making of delicious preserves and jams, beer brewing, comradery, cribbage playing, high-fives, high-fours, adventurous cooking, and adventurous eating out (when we are too lazy to cook).</p>
<p>I appreciate Jared's levelheaded and organized approach to life. I hope that he will appreciate my chaotic, disjointed approach to life.</p>
<p>Regardless, fingers crossed - things will probably turn out great. You should come to our housewarming party. It will be at our home and - if everything goes well - it will be warm.</p>
<p>-------//------</p>
<p>I'm very proud of myself, though it is for a pretentious reason. I'm reading Ulysses, which is pretty pretentious in itself. Anyway, I finished what most people consider "The most difficult chapter" – I didn’t understand most of it – and then I finished the longest chapter, which was about one-hundred and twenty-two pages. This means I'm on the home stretch. Though I've liked reading Ulysses, I'm ready to move onto something a little easier. Perhaps I'll read Crime and Punishment.</p>
<p>I think I just contradicted myself.</p>
<p>-------//-------</p>
<p>I'm trying to figure out my five-year plan. You know, asking myself, “What do I need to do in the near future in order to accomplish things I think I'll want to do in the far future.” It is harder than I thought. One question I needed to confront is my work life. Do I want to do hardcore finance or the operations side of the business? Do I need to do more hardcore finance in order to achieve other goals I want?</p>
<p>I think I have decided to try to prepare myself as much as possible for having a cool operations position. I'm not exactly sure why. I have only two things I know that I really want to do in my future professionally: First, I want go to school. I don't know for what or for how long, but I know I'll go back. Second, I know that I want to do a dramatic occupation change. I want to push myself. I want to make myself feel uncomfortable. We will see how that goes.</p>
<p>-------//------</p>
<p>If you want to read something light, I encourage you to read "Stories for Nighttime and Some for the Day" by Ben Loory. It is a unique collection of stories by Mr. Loory. It is interesting because it is the only book that both my brother - who is twelve - and I both really enjoy. If you go <a href="http://www.thisamericanlife.org/radio-archives/episode/498/transcript">here</a> and read act three, you will find yourself enthralled by a story of a man and a moose.</p>
<p>Check it out.</p>
<p>-------//-------<br />
It looks like my time to escape is coming to an end. I’ll talk to you guys next week. If you want to be put on the mailing list, email me at kidman007@gmail.com. I'm thinking about moving my blog to ghost.org, which means my link might be different next time.</p>
