---
layout: post
title: How I Had My First Mexican Car-Crash and Other Stories of NYC
date: 2014-08-27 01:51:22.000000000 -05:00
type: post
published: true
status: publish
categories: ["Personal"]
tags:
- Allergies
- chinese
- Ideas
- New York
- Travel
meta:
  _publicize_pending: '1'
  _rest_api_published: '1'
  _rest_api_client_id: "-1"
  _wpas_skip_facebook: '1'
  _wpas_skip_google_plus: '1'
  _wpas_skip_twitter: '1'
  _wpas_skip_linkedin: '1'
  _wpas_skip_tumblr: '1'
  _wpas_skip_path: '1'
---
<p>Hello Friends, </p>
<p>I had a great time in New York this weekend.</p>
<p>The journey had a few bumps along the way, but, after landing in Newark at one-in-the-morning -- rather than the intended airport, Laguardia, at eleven-thirty, I knew the trip was going to be memorable. I stayed at my Aunt's apartment on the lower west side of Manhattan. In the morning, I had four cups of coffee, ate delicious Chinese food, and talked about life with my aunt. Life's a good conversation topic; it beats the news. My aunt has a very interesting life.</p>
<p>I left my aunt and met up with my friend, Andrew, in one of the oldest coffee shops in New York. We planned our day. And then we walked. We walked all over the place. Sometimes we walked into parks that were on train tracks. I don't know what they are called, but they were beautiful. Sometimes we walked into bars. While we walked we talked. We talked a lot about ideas. We often disagreed with each others ideas, but we always listened to each other.</p>
<p>At the end of the day, we sat on the roof of Andrew's apartment in Astoria. He has a great view of the Manhattan skyline which we enjoyed over a few beers.</p>
<p>It was right around this time when I realized that I was allergic to cats. My allergic reaction resulted me sneezing an <i>incredible</i> amount, and my entire face -- especially my eyes -- swelled to the point in which <a href="http://i.imgur.com/ADdOviil.jpg">I was not recognizable</a>. I also had a general feeling of foreboding. It's interesting having your body react violently to something as harmless as a kitten -- especially such a nice kitten. It's almost sad that cats, though very cute, are now no more to me than poison. That's ok, though. There are always dogs.</p>
<p>I was planning on going to the MoMA on my final day before catching my flight. This didn't happen. Instead, I sat in a nice coffee shop chugging coffee to counteract the effect of the Benedryl so I wouldn't fall asleep and miss my flight.</p>
<p>I had a great time in New York this weekend.</p>
<p>-------//-------</p>
<p>Thank you for reading! If you have any suggestions about what I should write about or want to check in, please reach out to me at kidman007@gmail.com or in the comments.</p>
