---
layout: post
title: Faking Real Life Convincingly
date: 2015-03-04 16:00:14.000000000 -06:00
type: post
published: true
status: publish
categories: ["Personal"]
tags:
- acting
- Friends
- fun
- improv
meta:
  _publicize_pending: '1'
  _rest_api_published: '1'
  _rest_api_client_id: "-1"
  _wpas_skip_facebook: '1'
  _wpas_skip_google_plus: '1'
  _wpas_skip_twitter: '1'
  _wpas_skip_linkedin: '1'
  _wpas_skip_tumblr: '1'
  _wpas_skip_path: '1'
---
<p>I’ve been trying to write this post for a while now. It’s about something that makes me very happy — in addition to my wonderful girlfriend, Paige. It’s about improv.</p>
<p>The interesting thing about struggling writing about improv is that it goes against the ideas of improv. For instance, there are no mistakes in improv — only happy accidents and opportunities. There isn’t any fear in improv — only showing off your best weird self.</p>
<p>When I write about improv, this new passion of mine, I worry about mistakes. I am afraid that I won’t articulate the feelings accurately. If I can’t do that, why bother write about the feelings at all? This has resulted in me rewriting this post several times. This is the last time I’ll write this post. I promise.</p>
<p>——//——</p>
<p>“Improv is all about relationships,” Kimmie told us as she walked back and forth in front of the class. “It’s not about being funny; being funny will come. Trust me. Give the audience a reason to care about the scene.”</p>
<p>Kimmie is my improv teacher at The Second City. She is also a badass — a hilarious, outrageous, enthusiastic, and weird badass. Working with her and my classmates over the last two months has — quite simply — made my life better.</p>
<p>When I first signed up for improv classes, I thought that I would learn how to be funny. My internal monologue told me that that I’m already hilarious and fearless. I thought that’s all it took to be a great improviser. Improv classes, I assumed, would be a cake walk.</p>
<p>I was wrong.</p>
<p>After every exercise, which is usually filled with false starts and stumbles, Kimmie asks us, “Well, what did we learn?” I always want to respond with “a lot.”</p>
<p>It turns out improv is really hard. To be successful at it, you have to behave like a good friend to your partner:<br />
You have to listen.<br />
You have to react.<br />
You have to add something to the conversation.<br />
You need to be open.<br />
And you can’t be afraid.</p>
<p>Improv puts a magnifying glass on the way we behave. Of course the scene is better when you listen to your partner, listening is the key to other interactions, why not improv scenes? Of course a scene is going to be better when you have a relationship at the center of everything, conversations in general are better when there is a relationship. The more realism and attention you bring to the table, the better you do.</p>
<p>This applies to both life and improv.</p>
<p>The class is full of these revelations. It’s doing all of these things that we should be doing anyway. It’s not about fabricating reality. It’s about creating an alternate reality (the difference is subtle but significant). This challenge makes it fun and keeps me coming back for more.</p>
<p>My new improv friends are great. All of the people are young, enthusiastic about the art form,  about hanging out, and watching improv shows. It’s like I found a secret group of goofy people that were hiding until now.</p>
<p>The group is interesting because everyone is very different. We all have different interests and careers, but everyone in the class is the sort of person who would sign up for an introductory improv class. In other words, everyone is a little weird, inexperienced, and willing to pay money to make a fool of themselves. We are getting drinks after class tonight.</p>
<p>It’s exciting to be with these people because we are excited to be together. Some of us are already talking about performing. On a stage. With an audience. I expect you to be there, reader.</p>
<p>Improv is good for Paige and I as well. It an outlet for us to explore the city. It’s an outlet for us to see new people. While I haven’t persuaded her to sign up for a class yet, I’m really happy we’ve found something new we can enjoy together. It means we we’ll watch less Netflix, but I’m okay with that. The more things we do together the better! Paige + improv = Pimprov, which is Russian for love.</p>
<p>Tonight I start the second level of improv classes. Though I won't have Kimmie teaching me, she has promised the other teachers are quite good as well. Most of the people from my first class have joined the second class. Today I'll be better than I was yesterday. Maybe someday I'll be quite good. I'll hold my breath.</p>
<p>——//——</p>
<p>Thank you for reading! I like improv. I wish I could do a better job explaining my feelings about it. Let me know if you want to catch up! Let me know if you want to be on the email list! Shoot me a message at <a href="mailto:andrew.h.kraemer@gmail.com">andrew.h.kraemer@gmail.com</a></p>
<p>I’ll probably write a more comprehensive post about improv after I get a bit more experience.</p>
