---
layout: post
title: Five Minute Blog Post
date: 2015-02-20 15:08:03.000000000 -06:00
type: post
published: true
status: publish
categories: ["Personal"]
tags: []
meta:
  _publicize_pending: '1'
  _rest_api_published: '1'
  _rest_api_client_id: "-1"
  _wpas_skip_facebook: '1'
  _wpas_skip_google_plus: '1'
  _wpas_skip_twitter: '1'
  _wpas_skip_linkedin: '1'
  _wpas_skip_tumblr: '1'
  _wpas_skip_path: '1'

---
<p>Hello Friends,</p>
<p>My computer at work is taking an especially long time to start up this morning, so I figured I should take a few minutes and write a blog post.</p>
<p>-------//------</p>
<p>First off, <a href="https://play.spotify.com/user/kidman007/playlist/3ZYis9zlG1tR1tQ6zDCTfO">here </a>is a really good playlist I made. I called "The Greatest Thirty Seconds." Unintentionally -- and ironically -- this is the longest playlist I've made.</p>
<p>-------//-------</p>
<p>I haven't written in a while for a few reasons:</p>
<p>First off, I'm lazy.</p>
<p>Second, my last post -- the post about fainting on an airplane -- was far and away the most successful post I've done. The pressure is on.</p>
<p>Third, I've been filling a lot of my time with my new improv class. I'll talk a lot about improv in the next post.</p>
<p>Fourth, I'm trying my best to finish Sho Gun. It's an awesome book, and I've learned a lot from it. I wish I could better articulate why the book is interesting. Usually I tell people, "ShoGun is great. The Japanese thought about everything in a completely different way than the westerners did. They killed themselves a lot." While all of this is true, it's not very insightful.</p>
<p>Fifth, I've been taking myself too seriously. I don't write serious very well.</p>
<p>Sixth, I recently learned that you should still try to do Yoga even if you have a metal rod fuzed to your spine. Even though you can't do any of the poses, you can still say you tried.</p>
<p>-------//------</p>
<p>I've been working on meditating again. I meditate in my car before I walk into work. Sometimes I open my eyes and I see people who park next to me staring at me through my window.</p>
<p>I wave at them.</p>
<p>-------//-------</p>
<p>Well, it seems my computer is working again. I plan on having another, complete, post this weekend. I just felt I had to share something.</p>
<p>Love,</p>
<p>Andrew</p>
