---
layout: post
title: I Think I'll Call This One 'Madison'
date: 2015-08-05 18:10:43.000000000 -05:00
type: post
published: true
status: publish
categories: ["Personal"]
tags:
- commute
- failure
- Madison
- tony
- work
meta:
  _rest_api_published: '1'
  _rest_api_client_id: "-1"
  _publicize_job_id: '13436469546'
---
<p>Hello Friends,</p>
<p>Well, I made it to Madison.</p>
<p>Often times, when I’m writing a blog post, I’ll write out what’s on my mind in my snazzy notebook. It helps me get my thoughts out fast and dirty. It’s also the notebook I bought so that when I go into coffee shops, like the one I’m in now, people will know that I went to a liberal arts school — or at the very least that I’m a *creative* person. It’s like a Moleskine, but it’s a different brand. That’s how creative I am.</p>
<p>Though it’s nice signaling to everyone how creative I am, I’ll admit that it’s disappointing when I opened my notebook today and saw that I haven’t written in my *creative* notebook since I was taking notes for my interview at wellbe.</p>
<p>— This means at least two things<br />
1. It has been a full month since I interviewed for the position that I started yesterday<br />
<del>2. My assumption that it would be easier to write about my transition from Chicago to Madison would be easier once I left Catamaran — now Optum — was wrong. Or maybe it wasn’t wrong because I guess that I’m writing about my move right now, because here I am — in a cafe — writing about writing. Regardless, I thought that it would be easier to write about moving to Madison because I was afraid that someone at work would find out, which — in retrospect — is a ridiculous thing to worry about. I guess I really wanted to avoid an unlikely — but definitely possible — situation where a boss would find out I was looking to move and I got fired before I was able to secure a job in Madison. For instance, I could have posted a blog post about moving to Madison on Twitter and one of the famous people who follow me — like Taylor Swift — could have retweeted it. As a result, a tween (do people still say that?) would show their parent the post out of sympathy for the author (me). That parent would end up being my boss’s boss’s boss, who would see that I was planning on leaving and then fire me. As a result, I would be found dead by the side of I-94 between Milwaukee and Madison. Cause of death would be declared as “confusion.”</del><br />
2. I got sidetracked and did something else.</p>
<p>Regardless, now that I’m free to say and do what I want, I can happily say that I am moving to Madison and I couldn’t be happier. Paige got a job at Epic Systems. I’m following her there. I’ll admit I was hesitant about the move at first. After talking about it, I realized that the main reason I didn’t want to go was because I was afraid. It’s usually best to ignore fear.</p>
<p>I’ve been throwing around the phrase ‘Lifestyle Engineering’ a fair amount when talking about moving to Madison. With two years of city living under my belt, I feel that I’ve got a better understanding of what I want my day to day to look like. For instance, assuming I get the apartment I want, my commute will do down from an hour-and-a-half to fifteen minutes. It’s also fourty-five minutes by bike, which has been my dream commute since I learned what a commute really is. With this dream apartment I’ll also be just a two blocks from Paige (the best!), a block from the lake (great!), living with Mr. Tony Susan Darling (groovy!), and I’ll be downtown (super!). Everything has been chosen carefully, so all I need to do is keep trying to be interesting.</p>
<p>My new job is exciting, cool, and fast paced. It’s also terrifying because I’m incredibly under-qualified, but — again — I’m working my best on ignoring fear.</p>
<p>I hope you come to Madison to visit. It’s close to all of my favorite places, so both of us — me and you — don’t have an excuse to not see each other.</p>
<p style="text-align:center;line-height:150%;">———//———</p>
<p>My friend Andrew Calderon, who I’ve always called Pescado, also blogs. He’s a phenomenal writer and writes on really interesting topics. You can check out his most recent post [here].</p>
<p style="text-align:center;line-height:150%;">———//———</p>
<p>I’m hoping in the next few months to convert my website from a Wordpress website to my own website. If you have any expertise in website creation, I might be reaching out to you for some hot tips.</p>
<p style="text-align:center;line-height:150%;">———//———</p>
<p>Thanks for reading. Maybe I’ll get the courage (ignore fear) to publish something a little more creative. Anyway, feel free to drop me a message at kidman007@gmail.com. Let’s catch up.</p>
<p class="p1"><span style="line-height:1.5;font-style:inherit;font-weight:inherit;">Love,</span></p>
<p class="p1">Andrew</p>
