---
layout: post
title: Chaos (lite)
date: 2015-05-18 04:00:28.000000000 -05:00
type: post
published: true
status: publish
categories: ["Personal"]
tags:
- fall
- Life
- surprises
- update
meta:
  _publicize_pending: '1'
  _rest_api_published: '1'
  _rest_api_client_id: "-1"

---
<p>“And then the roof fell in.” I’ve been waiting for a sentence like this to happen for a while. I’ve been looking for a focal point — a conversation starter. Other things have happened — curious things, but I have been having trouble with finding the magical sentence that has you, my faithful reader, drawn in.</p>
<p>I was happy. I had gotten Paige interested in my book, “How Not to be Wrong.” It’s a fun book — like Freakanomics with a focus on math instead of Econ. Paige — being a math major — became interested. We were reading on my Kindle together. It was cute. I was happy. We looked over at the ceiling — it was making a cracking noise. </p>
<p>And then the roof fell in. </p>
<p>Paige had pointed out the cracks in the ceiling of her apartment previously. “The cracks are getting bigger,” she would say. “I wouldn’t worry about it,” I would say. I was wrong.</p>
<p>It’s times like these I realize that I prefer it when things are slightly wrong. In music, I like it when the singer can’t quite sing well, or the guitar is a little too noisy. Sure, in life I appreciate it when things are going well. Paige and I went to yoga, we ate schwarma, we enjoyed the good weather. We even watched three episodes of House of Cards. All of these things, though fun, are not the things I remember. I remember shouting as the plaster fell from ceiling next to my face. I remember the silence as we processed the what happened. Was there really a hole in her ceiling? Is that something that happens?</p>
<p>We are often told if we *succeed* at different things we will be happy. Do a good job at work. Exercise. Get brunch. Sometimes though it’s better to be scared; it’s good to be surprised. </p>
<p>————//————</p>
<p>I’ve had more energy lately, so I’ve been able to do some “Andrew things.” </p>
<p>I’ve been reading a lot of books, which is good, because books make your brain larger. Like I mentioned before, I’m going through “How Not to be Wrong.” It’s been a great way to connect with math again without opening a difficult text book. I finished Dave Egger’s book, “A Heartbreaking Work of Staggering Genius,” last week. It was a great read. I found, however, that it was messing with how I write. It made my — already sporadic — way of writing even more all over the place. I’m reading a book on yoga called “Light on Yoga,” because I know that even though I’ll never be able to bench 200 lbs, I might be able to touch my toes. Unfortunately, I’ve found reading doesn’t make you more flexible.</p>
<p>I started a sci-fi book called 2313. I’m not sure if I’ll stick with it, because it’s massive, but we’ll see. I’m flying through this book by improvisors Tj and Dave. The writing and the organization of the book is bad, but the concepts are great.</p>
<p>I’m working on learning how to write JavaScript. Codeacademy.com has been a really good resource. The class is engaging enough for me to keep on it — even after it gets more difficult after the basics.</p>
<p>Improv is going well as well. My class is great. We have started to meet outside of class to practice, which, so far, has been very successful. In June, we’ll have our first performance. I really can’t wait.</p>
<p>I’ve started listening to rap. </p>
<p>———//———</p>
<p>Thanks for reading. I hope you have a killer day. I hope tomorrow is better. I hope the day after that is even better.</p>
