---
layout: post
title: Twitter in the Most Hallowed of Places
date: 2015-06-24 18:39:28.000000000 -05:00
type: post
published: true
status: publish
categories: ["Personal"]
tags:
- self improvement
- Twitter
- work
meta:
  _oembed_cef11cf39456c5ca78db7c30d62fc134: "{{unknown}}"
  _rest_api_published: '1'
  _rest_api_client_id: "-1"
  _publicize_job_id: '11998308140'
  _oembed_b066a236d975fe370df91d7ef490113c: "{{unknown}}"
  _oembed_4f0a6ec405efd4df77c9b0cd12da2d60: "{{unknown}}"
---
<p>Hello Friends,</p>
<p>It was the middle of the day in a bathroom stall on the ninth floor of the Catamaran headquarters when I realized I needed to change my relationship with Twitter. My phone was in my hands with the iconic blue bird glowing on my screen. I blinked and wondered long I had been sitting there.</p>
<p>It wasn’t long ago I actually wanted to understand Twitter better; now I wish I understood it less. Friends and coworkers were always talking about conversations they had and the interesting articles people shared on Twitter. Apparently, comedians say funny things on there as well. I like funny. At that point, I still didn’t understand Twitter. I didn’t know who I should follow, or where to find good content. I was stranger in a party everyone else was familiar with. I wanted in.</p>
<p>So, I made it my mission to get the most out of Twitter. I followed modern entrepreneur personalities I admire, such as Tim Ferriss and James Altucher. I followed podcasters I enjoyed like Alex Blumburg and John Hodgeman. I looked into the “Weird Twitter” subculture, which is — unsurprisingly — weird. The list goes on.</p>
<p>After a few months of pretending to like Twitter, I finally realized that I was going to Twitter willingly — I actually liked it. I checked it often and it became a nice break in my day. I was honestly embarrassed about how happy — the word “gushed” might be the best description of how I felt — I was when my favorite economist, Russ Roberts (@EconTalker), <a href="https://twitter.com/EconTalker/status/609355119306665984">responded to my Tweet</a>. I was glowing.</p>
<ul>
<li>I checked Twitter at my desk.</li>
<li>I checked Twitter while driving my car. (danger!)</li>
<li>I checked Twitter at the gym.</li>
</ul>
<p>I was sitting in the most hallowed and private places for a cube warrior: the bathroom stall, when I realized that I was checking Twitter too much.</p>
<p>(It’s gross, I get it, but bear with me.)</p>
<p>The stall is the perfect place to check your phone — so I shouldn’t have felt self conscious about checking Tweets in there. It’s one of the few private places in an office where you can’t be seen — image is important (or so they say). Though I was seeing a lot of cool things in the "Twitterverse," I realized that I was trying to escape my day — my reality — by filling any momentary void in my day with a massive mental download of media while in the bathroom. I had become the Scarface of Twitter (deluded — not murderous or coked out or the king).</p>
<p>When I came to this realization, I made a swift decision — a instant promise to myself. Before I check Twitter while in the most hallowed of places, I must journal. I must write one-hundred words before I read dozen of one-hundred-and-forty word snippets. I must create something before I blindly consume.</p>
<p>So far it’s worked, and It’s made me feel a lot better. Maybe tomorrow I’ll find another way to create more. Maybe not.</p>
<p style="text-align:center;line-height:150%;">———//———</p>
<p>It’s summer time now, so I’ve been trying lots of new things and doing new things too.</p>
<p>I just had my first improv show with my class. I like to over-analyze how I did, but I know in my heart of hearts we did great for our first time. My whole family watched me, which was great. Two of my good friends, Matt and T. Susan Darling, came down to see me from Wisconsin, which was also great. Paige was there — great greatness.</p>
<p>I want to build my own website. I have a website now — you’re looking at it — but I want to actually build a website. In order to achieve this goal, I’ve started using <a href="http://www.freecodecamp.com/">FreeCodeCamp.com</a>, which has been a good learning experience. I’m still a long way off before I can do anything on my own, though.</p>
<p>Paige is in Prague. Jared is in Ireland. I miss them a lot. On the other hand, I’ve now got more time to write my blog. It’s better when they’re here, though.</p>
<p>I’m reading a few books right now. “Zen and the Art of Motorcycle Maintenance” and “Cosmos.” Both are great. I'll probably need to read something simple and light to ground me after I'm done with these books, like Kafka.</p>
<p style="text-align:center;line-height:150%;">———//———</p>
<p>Thanks for taking the time to read this! I really appreciate you! If you’d like to be added to the mailing list, send me an email at kidman007@gmail.com or Tweet at me @kidman007 (fuel my habit).</p>
